<!DOCTYPE html>
<html lang="ru" ng-app="calc">
<head>
    <title>Калькулятор</title>
    <meta author="Preventiva Internet Studio, http://preventiva-studio.ru/">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="calc_css/main.css?14" rel="stylesheet">
    <link href="calc_css/svg.css?14" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--a class="navbar-brand" href="https://kubdem.ru/">Алмаз ERP</a-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="https://kubdem.ru/calc#/index">Калькулятор</a></li>

                <!--li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Складские документы <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="https://kubdem.ru/warehouse">Справочник ТМЦ</a></li>
        <li><a href="https://kubdem.ru/warehouse">Перемещение ТМЦ</a></li>
        <li><a href="https://kubdem.ru/warehouse">Заявка на ТМЦ</a></li>
                            </ul>
</li-->

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Модули <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://kubdem.ru/mods/price">Прайс-лист</a></li>

                        <li><a href="https://kubdem.ru/warehouse">Справочник ТМЦ</a></li>
                        <li><a href="https://kubdem.ru/warehouse">Перемещение ТМЦ</a></li>
                        <li><a href="https://kubdem.ru/warehouse">Заявка на ТМЦ</a></li>

                    </ul>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://kubdem.ru/users/profile">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Юрий Кувецкий (Бригадир)
                    </a>
                </li>
                <li>
                    <a href="https://kubdem.ru/auth/logout">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Выход
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div ng-controller="navCtrl" style="padding-bottom: 10px;" class="hide-for-print">
        <form class="form-inline" role="search" ng-show="isSearchBarVisible">
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       ng-model="$root.calcId"
                       ng-keyup="$event.keyCode == 13 ? search(calcId) : null"
                       placeholder="№ расчета">
                <button type="button" class="btn btn-default" ng-click="search()">
                    Найти
                </button>
                <button type="button" class="btn btn-warning" ng-click="clear()" style="margin-left: 15px">
                    Очистить
                </button>


                <div class="btn-group formats-controls-container" role="group" aria-label="..."
                     ng-if="selectedTableFormat">
                    <button type="button"
                            class="btn btn-default"
                            title="Применить"
                            ng-if="isUserCanEdit"
                            ng-click="toggleFormatsEditMode()">
                        <span class="glyphicon glyphicon-pencil"
                              ng-class="{'glyphicon-ok text-success': isFormatsEditing}"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            title="Не применять"
                            ng-if="isUserCanEdit && isFormatsEditing"
                            ng-click="toggleFormatsEditMode(true)">
                        <span class="glyphicon glyphicon-remove text-danger"></span>
                    </button>
                    <div class="btn-group table-formats-dropdown" role="group">
                        <button class="btn btn-default dropdown-toggle formats-dropdown-button" type="button"
                                id="formatsDropdown"
                                title="{{selectedTableFormat.label}}"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <div class="label-text">{{selectedTableFormat.label}}</div>
                            <span class="caret absolute-caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="formatsDropdown">
                            <li ng-repeat="tableFormat in tableFormats">
                                <a ng-click="onTableFormatSelected(tableFormat)">{{tableFormat.label}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button"
                            class="btn btn-default"
                            title="Сохранить изменения"
                            ng-if="isUserCanEdit && isSelectedFormatWasChanged"
                            ng-click="saveFormats()">
                        <span class="glyphicon glyphicon-floppy-disk text-info"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            title="Сбросить изменения"
                            ng-if="isUserCanEdit && isSelectedFormatWasChanged"
                            ng-click="reloadFormats()">
                        <span class="glyphicon glyphicon-refresh text-warning"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            title="Компактная запись"
                            ng-click="toggleDetailedView()">
                        <span class="glyphicon glyphicon-compressed"
                              ng-class="{'text-success': !isDetailedView}"></span>
                    </button>
                    <div class="formats-edit-panel" ng-if="isFormatsEditing">
                        <table class="table table-bordered table-condensed formats-table">
                            <tr ng-repeat="tableFormat in tableFormats">
                                <td class="word-break-all">
                                    <div contenteditable ng-model="tableFormat.label"></div>
                                </td>
                                <td class="selectable-row selectable-row-danger"
                                    ng-if="tableFormats.length > 1"
                                    ng-click="removeFormat($index)">
                                    <span class="glyphicon glyphicon-trash text-danger"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"
                                    class="selectable-row selectable-row-success text-center"
                                    ng-click="addFormat()">
                                    <span class="glyphicon glyphicon-plus text-success"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>
            <div ng-show="sections['itogo']" style="float: right;">
                <button ng-show="isEditSections" type="button" class="btn btn-primary" ng-click="save()">
                    Сохранить расчет
                </button>
                <button ng-hide="isPrint" type="button" class="btn btn-primary wide-button" ng-click="print()">
                    Распечатать расчет
                </button>
            </div>
        </form>
        <form class="form-inline" role="search" ng-show="!isSearchBarVisible && isPrintPageOpen">
            <div style="float: right;">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" ng-click="downloadExcel()">
                        excel
                    </button>
                    <button type="button" class="btn btn-primary wide-button" ng-click="search(calcId)">
                        Показать расчет
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" ng-view></div>
</div>

<div class="container-fluid footer">
    <div class="text-center small">
        <hr>
        © Алмаз ERP, 2017
    </div>
</div>

<script>
    var isUserCanEdit = true;
</script>
<!--Библиотеки-->
<script src="js/fw.js?14"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--Модули-->
<script src="calc_js/calc.module.js?14"></script>
<!--Сервисы-->
<script src="calc_js/services/currentPrices.service.js?14"></script>
<script src="calc_js/services/sectionsUpgrader.service.js?14"></script>
<script src="calc_js/services/usedFactors.service.js?14"></script>
<script src="calc_js/services/common.service.js?14"></script>
<script src="calc_js/services/focus.service.js?14"></script>
<!--Директивы-->
<script src="calc_js/dropdownList.directive.js?14"></script>
<script src="calc_js/contenteditable.directive.js?14"></script>
<script src="calc_js/materialSelector/materialSelector.directive.js?14"></script>
<script src="calc_js/materialSelector/finishStep/finishStep.directive.js?14"></script>
<script src="calc_js/materialSelector/imagePicker/imagePicker.directive.js?14"></script>
<script src="calc_js/materialSelector/svgDrawer/svgDrawer.directive.js?14"></script>
<script src="calc_js/common/modelChangeBlur.directive.js?14"></script>
<!--Фильтры-->
<script src="calc_js/common/trust.filter.js?14"></script>
<!--Контроллеры-->
<script src="calc_js/index.controller.js?14"></script>
<script src="calc_js/search.controller.js?14"></script>
<script src="calc_js/nav.controller.js?14"></script>
<script src="calc_js/addItem.controller.js?14"></script>
<script src="calc_js/addSection.controller.js?14"></script>
<script src="calc_js/print.controller.js?14"></script>
</body>
</html>