<div ng-if="$ctrl.isLoading" class="col-xs-12 loader-container">
    <div class="loader"></div>
</div>

<div class="col-xs-12 text-center material-selector-multilayer-header" ng-if="!$ctrl.isLoading && multilayer.isMultilayer">
    <span class="glyphicon glyphicon-remove text-danger selectable-td noselect"
          ng-click="$ctrl.disableMultilayer()"></span>
    &nbsp;<strong>{{multilayer.multilayerText}}:</strong>
</div>

<div class="col-xs-12 text-center material-selector-main-header"
     ng-class="{'material-selector-main-header_multilayer': multilayer.isMultilayer}"
     ng-if="!$ctrl.isLoading">
    <div class="aligned-group-control-left btn-group"
         role="group" aria-label="..."
         ng-if="!$ctrl.isEditMode">
        <button type="button" class="btn btn-default" ng-click="$ctrl.showPreviousStep()">
            <span class="aligned-group-control-left glyphicon glyphicon-lg"
                  ng-class="{'glyphicon-remove text-danger': !$ctrl.currentStepIndex,
                             'glyphicon-chevron-left text-default': $ctrl.currentStepIndex}"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.clear()">
            <span class="aligned-group-control-left glyphicon glyphicon-trash text-danger glyphicon-lg"></span>
        </button>
    </div>

    <div class="btn-group material-selector-layers-buttons"
         ng-class="{'material-selector-layers-buttons_multilayer': multilayer.isMultilayer}"
         role="group">
        <button type="button"
                class="btn btn-default"
                ng-repeat="selectedMaterialKey in common.MATERIALS_KEYS"
                ng-if="$ctrl.isSelectedMaterialButtonVisible(selectedMaterialKey)"
                ng-class="{'btn-success': selectedMaterials[selectedMaterialKey],
                           'btn-info': selectedMaterialKey === selectingMaterialId,
                           'disabled': $ctrl.isEditMode}"
                ng-click="$ctrl.changeLayer(selectedMaterialKey)">
            {{common.MATERIALS_LABELS[$index]}}
        </button>
    </div>

    <div class="aligned-group-control-right btn-group"
         role="group" aria-label="..."
         ng-class="{'just-hide': !$ctrl.isMainFieldsFilled()}"
         ng-if="!$ctrl.isEditMode">
        <button type="button" class="btn btn-default" ng-click="$ctrl.showNextStep()">
            <span class="glyphicon glyphicon-lg"
                  ng-class="{'glyphicon-ok text-success': $ctrl.currentStep === $ctrl.STEPS_ENUM.FINISH_STEP,
                             'glyphicon-chevron-right text-default': $ctrl.currentStep !== $ctrl.STEPS_ENUM.FINISH_STEP}"></span>
        </button>
    </div>
</div>
<div class="col-xs-12 material-selector-main-panel"
     ng-class="{'material-selector-main-panel_multilayer': multilayer.isMultilayer}"
     ng-if="!$ctrl.isLoading">
    <div class="row">
        <div class="col-xs-12 aligned-group-controls top-main-panel">
            <div class="material-labels text-center">
                <span class="label material-label"
                      ng-repeat="material in materials"
                      ng-style="{'background-color': $ctrl.getPriceMaterialColor(material.id)}">{{material.name}}</span>
            </div>

            <div class="gosts text-center"
                 ng-if="$ctrl.selectedMaterialGroupItem">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button"
                            class="btn btn-default"
                            ng-if="$ctrl.isEditMode"
                            ng-click="$ctrl.toggleGostEditPanelVisibility()">
                        <span class="glyphicon glyphicon-pencil selectable-row"
                              ng-class="{'glyphicon-ok text-success': $ctrl.isGostEditPanelVisible}"></span>
                    </button>
                    <button type="button"
                            class="btn btn-default"
                            ng-if="$ctrl.isEditMode && $ctrl.isGostEditPanelVisible"
                            ng-click="$ctrl.toggleGostEditPanelVisibility(true)">
                        <span class="glyphicon glyphicon-remove selectable-row text-danger"></span>
                    </button>

                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Техническая документация&nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right gosts-dropdown-menu">
                            <li ng-repeat="gost in $ctrl.selectedMaterialGroupItem.gosts">
                                <a class="gost"
                                   target="_blank"
                                   ng-href="{{gost.link}}">{{gost.label}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gost-edit-panel" ng-if="$ctrl.isEditMode && $ctrl.isGostEditPanelVisible">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Ссылка</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tr ng-repeat="gost in $ctrl.selectedMaterialGroupItem.gosts">
                            <td class="word-break-all"><strong>
                                <div contenteditable ng-model="gost.label"></div>
                            </strong></td>
                            <td class="table-cell-with-input table-cell-with-input-sm">
                                <input type="text"
                                       title="Ссылка на документ ГОСТ"
                                       ng-model="gost.link">
                            </td>
                            <td class="selectable-row selectable-row-danger"
                                ng-click="$ctrl.removeGost($index)">
                                <span class="glyphicon glyphicon-trash text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"
                                class="selectable-row selectable-row-success"
                                ng-click="$ctrl.addGost()">
                                <span class="glyphicon glyphicon-plus text-success"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="aligned-group-control aligned-group-control-absolute btn-group"
                 role="group" aria-label="..."
                 ng-if="$ctrl.isUserCanEdit && !$ctrl.isEditMode">
                <button type="button" class="btn btn-default" ng-click="$ctrl.enableEditMode()">
                    <span class="glyphicon glyphicon-lg glyphicon-cog"></span>
                </button>
            </div>
            <div class="aligned-group-control aligned-group-control-absolute btn-group"
                 role="group" aria-label="..."
                 ng-if="$ctrl.isEditMode">
                <button type="button" class="btn btn-default" ng-click="$ctrl.disableEditMode(true)">
                    <span class="glyphicon glyphicon-lg glyphicon-ok text-success"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="$ctrl.disableEditMode(false)">
                    <span class="glyphicon glyphicon-lg glyphicon-remove text-danger"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <span class="glyphicon" ng-if="$ctrl.isUserCanEdit"></span>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <div ng-if="!$ctrl.isEditMode"
                             ng-bind="$ctrl.materialsDatabase.title"></div>
                        <div contenteditable
                             ng-if="$ctrl.isEditMode"
                             ng-model="$ctrl.materialsDatabase.title"></div>
                    </strong>
                </div>

                <div uib-accordion class="material-groups-container">
                    <div class="panel-default no-border"
                         uib-accordion-group
                         ng-repeat="(groupIndex, group) in $ctrl.materialGroups"
                         is-open="group.isOpen">
                        <uib-accordion-heading>
                            <div class="material-group-header">
                                <div class="material-group-delete selectable-row selectable-row-danger text-center"
                                     ng-if="$ctrl.isEditMode"
                                     ng-click="$ctrl.removeMaterialGroup(groupIndex, $event)">
                                    <span class="glyphicon glyphicon-trash selectable-row text-danger"></span>
                                </div>
                                <div class="material-group-controls-container"
                                     ng-if="$ctrl.isEditMode"
                                     ng-click="$ctrl.prevendDefaultIfEditMode($event)">
                                    <div class="field-item-control-panel-outer-right-top"
                                         ng-if="$ctrl.isEditMode && groupIndex !== 0">
                                    <span class="glyphicon glyphicon-menu-up selectable-td text-success"
                                          ng-click="$ctrl.moveMaterialGroupUp(groupIndex, $index)"></span>
                                    </div>
                                    <div class="field-item-control-panel-outer-right-bottom"
                                         ng-if="$ctrl.isEditMode && groupIndex !== ($ctrl.materialGroups.length - 1)">
                                    <span class="glyphicon glyphicon-menu-down selectable-td text-success"
                                          ng-click="$ctrl.moveMaterialGroupDown(groupIndex, $index)"></span>
                                    </div>
                                </div>


                                <i class="pull-right glyphicon"
                                   ng-class="{'glyphicon-menu-down': group.isOpen,
                                              'glyphicon-menu-right': !group.isOpen}"></i>

                                <div ng-if="!$ctrl.isEditMode"
                                     ng-bind="group.groupName"></div>
                                <div contenteditable
                                     ng-if="$ctrl.isEditMode"
                                     ng-click="$ctrl.prevendDefaultIfEditMode($event)"
                                     ng-model="group.groupName"></div>
                            </div>
                        </uib-accordion-heading>

                        <ul class="list-group list-group-hover">
                            <li class="list-group-item material-group-item"
                                ng-repeat="groupItem in group.items"
                                ng-if="!multilayer.isMultilayer || !groupItem.isMultilayer"
                                ng-class="{'list-group-item-success': $ctrl.isMaterialGroupItemSelected(groupItem),
                                           'material-group-item-edit': $ctrl.isEditMode}">
                                <div ng-if="!$ctrl.isEditMode"
                                     ng-bind="groupItem.name"></div>
                                <div contenteditable
                                     ng-if="$ctrl.isEditMode"
                                     ng-model="groupItem.name"></div>
                                <div class="list-group-item-button"
                                     ng-if="!$ctrl.isEditMode"
                                     ng-click="$ctrl.selectMaterialGroupItem(groupItem)"></div>
                                <div class="field-item-control-panel-right"
                                     ng-if="!groupItem.isMultilayer">
                                    <div class="field-item-control-panel-right-bookmark"
                                         ng-style="{'background-color': $ctrl.getPriceMaterialColor(groupItem.materialId)}"
                                         title="{{$ctrl.getPriceMaterialName(groupItem.materialId)}}"
                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-header">
                                            {{$ctrl.isEditMode ? 'Ценовые группы' : 'Ценовая группа'}}
                                        </li>
                                        <li ng-repeat="material in materials"
                                            ng-if="$ctrl.isEditMode || groupItem.materialId === material.id"
                                            ng-click="$ctrl.selectPriceMaterialForGroupItem(groupItem, material.id)">
                                            <a>{{material.name}}</a>
                                        </li>
                                        <li ng-if="!$ctrl.isEditMode" class="dropdown-header">Штриховка</li>
                                    </ul>
                                </div>
                                <div class="field-item-control-panel-right-bottom"
                                     ng-if="$ctrl.isEditMode">
                                    <span class="glyphicon glyphicon-trash selectable-row text-danger"
                                          ng-click="$ctrl.removeMaterialGroupItem(group, $index)"></span>
                                </div>
                                <div class="field-item-control-panel-left-bottom"
                                     ng-if="$ctrl.isEditMode">
                                    <span class="glyphicon glyphicon-duplicate selectable-row text-info"
                                          ng-click="$ctrl.cloneMaterialGroupItem(group, groupItem)"></span>
                                </div>

                                <div class="field-item-control-panel-outer-right-top"
                                     ng-if="$ctrl.isEditMode && !(groupIndex === 0 && $index === 0)">
                                    <span class="glyphicon glyphicon-menu-up selectable-td text-success"
                                          ng-click="$ctrl.moveMaterialGroupItemUp(groupIndex, $index)"></span>
                                </div>
                                <div class="field-item-control-panel-outer-right-bottom"
                                     ng-if="$ctrl.isEditMode && !(groupIndex === ($ctrl.materialGroups.length - 1) && $index === ($ctrl.materialGroups.length - 1))">
                                    <span class="glyphicon glyphicon-menu-down selectable-td text-success"
                                          ng-click="$ctrl.moveMaterialGroupItemDown(groupIndex, $index)"></span>
                                </div>

                                <div class="select-facture-container select-facture-container-outer"
                                     ng-if="group.isOpen && !groupItem.isMultilayer"
                                     ng-class="{'edit-mode': $ctrl.isEditMode}">
                                    <image-picker class="image-picker"
                                                  facture="groupItem.facture"
                                                  height="50"
                                                  is-selectable="$ctrl.isEditMode"
                                                  on-select="$ctrl.onFactureSelected(groupItem, facture)">
                                    </image-picker>
                                </div>
                            </li>
                            <li class="list-group-item material-group-item"
                                ng-if="$ctrl.isEditMode">
                                <div class="left-group-item-add-button selectable-row-success text-center"
                                ng-click="$ctrl.addGroupItem(group, false)">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </div>
                                <div class="right-group-item-add-button selectable-row-success text-center"
                                     ng-click="$ctrl.addGroupItem(group, true)">
                                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="add-material-group-button selectable-row selectable-row-success text-center"
                     ng-if="$ctrl.isEditMode"
                     ng-click="$ctrl.addMaterialGroup()">
                    <span class="glyphicon glyphicon-plus text-success"></span>
                </div>
            </div>
        </div>

        <finish-step ng-if="$ctrl.currentStep === $ctrl.STEPS_ENUM.FINISH_STEP"
                     materials="materials"
                     result-material="$ctrl.resultMaterial"
                     masonry-types="$ctrl.getMasonryTypes()"
                     proportions-labels="$ctrl.selectedMaterialGroupItem.proportionsLabels"
                     selected-material-group-item="$ctrl.selectedMaterialGroupItem"
                     is-step-fulfilled="$ctrl.isFinishStepFulfilled"
                     is-edit-mode="$ctrl.isEditMode"
                     on-purpose-changed="$ctrl.onFinishStepPurposeChanged(purpose)"
                     on-masonry-types-changed="$ctrl.onFinishStepMasonryTypesChanged(masonryTypes)"></finish-step>

        <div class="col-xs-10" ng-if="$ctrl.currentStep === $ctrl.STEPS_ENUM.COMMON_INFO_STEP">
            <div class="row">
                <div class="col-xs-12">
                    <div class="field-group-inline"
                         ng-repeat="field in $ctrl.selectedMaterialGroupItem.fields"
                         ng-if="field.items">
                        <span class="glyphicon" ng-if="!$ctrl.isEditMode && $ctrl.isUserCanEdit"></span>
                        <div class="aligned-group-controls" ng-if="$ctrl.isEditMode">
                            <span class="aligned-group-control-left glyphicon glyphicon-menu-left text-success"
                                  ng-if="$index"
                                  ng-click="$ctrl.moveLeftField($index)"></span>
                            <span class="aligned-group-control glyphicon glyphicon-plus text-success"
                                  ng-click="$ctrl.addFieldItem(field)"></span>
                            <span class="aligned-group-control glyphicon glyphicon-trash text-danger"
                                  ng-if="!$ctrl.notDeletableFields[field.key]"
                                  ng-click="$ctrl.removeField($index)"></span>
                            <span class="aligned-group-control-right glyphicon glyphicon-menu-right text-success"
                                  ng-if="$index !== $ctrl.selectedMaterialGroupItem.fields.length - 1"
                                  ng-click="$ctrl.moveRightField($index)"></span>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="justify-container-between">
                                    <strong>
                                        <div ng-if="!$ctrl.isEditMode"
                                             ng-bind="field.label"></div>
                                        <div contenteditable
                                             ng-if="$ctrl.isEditMode"
                                             ng-model="field.label"></div>
                                    </strong>
                                    <div class="float-right field-header-icon">
                                        <span
                                            ng-if="$ctrl.isEditMode && field.isUsedForDescription && field.descriptionOrder">
                                            <span class="badge description-order">
                                                <a class="noselect"
                                                   ng-click="$ctrl.fieldDescriptionOrderDecrement(field)">
                                                    <span
                                                        class="glyphicon glyphicon-minus text-danger selectable-row"></span>
                                                </a>
                                                {{field.descriptionOrder}}
                                                <a class="noselect"
                                                   ng-click="$ctrl.fieldDescriptionOrderIncrement(field)">
                                                    <span
                                                        class="glyphicon glyphicon-plus text-success selectable-row"></span>
                                                </a>
                                            </span>
                                        </span>
                                        <span class="glyphicon glyphicon-lg eye-button noselect"
                                              ng-if="$ctrl.isEditMode"
                                              ng-class="{'glyphicon-eye-close': !field.isUsedForDescription,
                                                         'glyphicon-eye-open': field.isUsedForDescription}"
                                              ng-click="field.isUsedForDescription = !field.isUsedForDescription"
                                              title="Необходимо выбрать один из вариантов"></span>
                                        <span class="glyphicon glyphicon-exclamation-sign text-danger"
                                              title="Необходимо выбрать один из вариантов"
                                              ng-if="$ctrl.requiredCommonFields[field.key] && !$ctrl.isFieldFilled(field)"></span>
                                        <span class="glyphicon glyphicon-info-sign text-primary"
                                              title="Необязательно выбирать"
                                              ng-if="!$ctrl.requiredCommonFields[field.key] && !$ctrl.isFieldFilled(field)"></span>
                                        <span class="glyphicon glyphicon-ok-sign text-success"
                                              title="Выбор сделан успешно"
                                              ng-if="$ctrl.isFieldFilled(field)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group list-group-hover list-group-horizontal">
                                    <li class="list-group-item noselect field-item"
                                        ng-repeat="fieldItem in field.items"
                                        ng-class="{'list-group-item-success': $ctrl.isFieldItemSelected(fieldItem, field.key),
                                                   'list-group-item-with-price-material': field.isCanContainMaterial}">
                                        <div ng-if="!$ctrl.isEditMode"
                                             ng-bind="fieldItem.label"></div>
                                        <div contenteditable
                                             ng-if="$ctrl.isEditMode"
                                             ng-model="fieldItem.label"></div>
                                        <div class="list-group-item-button"
                                             ng-if="!$ctrl.isEditMode"
                                             ng-click="$ctrl.selectFieldItem(fieldItem, field.key)"></div>
                                        <div class="field-item-control-panel-right">
                                            <div class="field-item-control-panel-right-bookmark"
                                                 ng-if="field.isCanContainMaterial"
                                                 ng-style="{'background-color': $ctrl.getPriceMaterialColor(fieldItem.data.materialId)}"
                                                 title="{{$ctrl.getPriceMaterialName(fieldItem.data.materialId)}}"
                                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </div>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="material in materials"
                                                    ng-if="$ctrl.isEditMode || fieldItem.data.materialId === material.id"
                                                    ng-click="$ctrl.selectPriceMaterialForFieldItem(fieldItem, material.id)">
                                                    <a>{{material.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="field-item-control-panel
                                                    aligned-group-controls aligned-group-controls-sm
                                                    justify-container-around"
                                             ng-if="$ctrl.isEditMode">
                                            <span class="aligned-group-control-left
                                                         glyphicon glyphicon-menu-left text-success"
                                                  ng-class="{'just-hide': $index === 0}"
                                                  ng-click="$ctrl.moveLeftFieldItem(field, $index)"></span>
                                            <span class="aligned-group-control glyphicon glyphicon-trash text-danger"
                                                  ng-click="$ctrl.removeFieldItem(field, $index)"></span>
                                            <span class="aligned-group-control
                                                         glyphicon glyphicon-menu-right text-success"
                                                  ng-class="{'just-hide': $index === field.items.length - 1}"
                                                  ng-click="$ctrl.moveRightFieldItem(field, $index)"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="field-group-inline add-field-group"
                         ng-if="$ctrl.isEditMode && $ctrl.selectedMaterialGroupItem">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Добавить
                            </div>
                            <div class="panel-body text-center add-field-button-container">
                                <span class="glyphicon glyphicon-xxlg glyphicon-plus text-success selectable-row"
                                      title="Добавить простой"
                                      ng-click="$ctrl.addField()"></span>
                                <span class="glyphicon glyphicon-xxlg glyphicon-plus-sign text-warning selectable-row"
                                      title="Добавить с ценовыми группами"
                                      ng-click="$ctrl.addField(true)"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>