body {
    padding-top: 70px;
}

.my-table > caption + thead > tr:first-child > td,
.my-table > caption + thead > tr:first-child > th,
.my-table > colgroup + thead > tr:first-child > td,
.my-table > colgroup + thead > tr:first-child > th,
.my-table > thead:first-child > tr:first-child > td,
.my-table > thead:first-child > tr:first-child > th {
    border: 1px solid;
}

.my-table > tbody + tbody {
    border-top: 1px solid;
}

.my-table {
    width: 100%;
}

.my-table > thead > tr > th,
.my-table > tbody > tr > td,
.my-table td {
    border: 1px solid;
    vertical-align: middle;
    text-align: center;
    padding: 0 1px;
}

.my-table > tfoot > tr > td.text-right {
    text-align: right;
}

@media print {

    body {
        padding-top: 10px;
    }

    td, th {
        padding: 0 3px;
    }

    table {
        font-size: 8px;
    }

    nav, div.footer, .hide-for-print {
        display: none;
    }

}

.list {
    min-width: 50%;
    max-width: 90%;
    background: white none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 1px 1px 6px rgb(195, 195, 195);
    list-style-type: none;
    margin: 0 0 0 -1000px;
    opacity: 0;
    padding: 4px 7px;
    position: absolute;
    transition: opacity 0.4s ease 0s;
    z-index: 100;
}

.list li {
    cursor: pointer;
    padding: 3px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list li:hover {
    background: lightgray none repeat scroll 0 0;
}

.show .list {
    margin-left: 0;
    opacity: 1;
}

.angucomplete-title:hover {
    background-color: #eee;
    cursor: pointer;
}

.table-full-centered th, .table-full-centered td {
    vertical-align: middle !important;
    text-align: center;
}

.loader-container {
    height: 60vh;
    display: flex;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.list-group-horizontal {
    margin: 0;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}

.list-group-horizontal .list-group-item {
    margin: -1px 0 0 -4px;
}

.field-group-inline {
    margin: 0 10px;
    display: inline-block;
    vertical-align: top;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[contenteditable] {
    cursor: text;
    text-decoration: underline;
    min-width: 1em;
}

[contenteditable]:focus {
    outline: none;
}

[contenteditable].inline-editable {
    display: inline-block;
}

.top-main-panel {
    min-height: 40px;
}

.aligned-group-controls {
    text-align: center;
}

.aligned-group-controls-sm {
    padding: 0 3px;
}

.aligned-group-controls-sm:first-child {
    padding-left: 0.5em;
}

.aligned-group-controls-sm:last-child {
    padding-right: 0.5em;
}

.aligned-group-controls .aligned-group-control,
.aligned-group-controls .aligned-group-control-left,
.aligned-group-controls .aligned-group-control-right {
    padding: 0 0.5em;
    cursor: pointer;
    opacity: 0.8;
}

.aligned-group-controls .aligned-group-control,
.aligned-group-controls .aligned-group-control-left,
.aligned-group-controls .aligned-group-control-right {
    padding: 0 0.5em;
    cursor: pointer;
    opacity: 0.8;
}

.aligned-group-controls-sm .aligned-group-control,
.aligned-group-controls-sm .aligned-group-control-left,
.aligned-group-controls-sm .aligned-group-control-right {
    padding: 0 0 0.5em;
}

.aligned-group-controls-sm .aligned-group-control:first-child,
.aligned-group-controls-sm .aligned-group-control-left:first-child,
.aligned-group-controls-sm .aligned-group-control-right:first-child {
    padding-left: 0.5em;
}

.aligned-group-controls-sm .aligned-group-control:last-child,
.aligned-group-controls-sm .aligned-group-control-left:last-child,
.aligned-group-controls-sm .aligned-group-control-right:last-child {
    padding-right: 0.5em;
}

.aligned-group-control-left {
    float: left;
}

.aligned-group-control-right {
    float: right;
}

.aligned-group-control-absolute {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.aligned-group-control-left:hover,
.aligned-group-control:hover,
.aligned-group-control-right:hover {
    opacity: 1;
}

.glyphicon-xxlg {
    font-size: xx-large;
}

.glyphicon-lg {
    font-size: large;
}

.glyphicon-md {
    font-size: medium;
}

.list-group-item-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.material-group-item {
    padding: 10px 40px 10px 15px;
}

.material-group-item:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
}

.material-group-item-edit {
    padding-bottom: 25px;
}

.field-item {
    min-width: 60px;
}

.field-item-control-panel {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.field-item-control-panel-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    height: 0;
    cursor: pointer;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.field-item-control-panel-right .dropdown-menu {
    margin-left: 15px;
    margin-top: 0;
}

.field-item-control-panel-right-bookmark:hover {
    height: 25px;
}

[aria-expanded=true].field-item-control-panel-right-bookmark {
    height: 30px;
}

.field-item-control-panel-right-bookmark {
    height: 20px;
    width: 15px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    opacity: 0.5;
    transition: height ease-in-out 0.1s;

}

.list-group-item-with-price-material {
    padding-right: 40px;
}

.just-hide {
    opacity: 0 !important;
    pointer-events: none;
    cursor: default;
}

.justify-container-around {
    display: flex;
    justify-content: space-around;
}

.justify-container-between {
    display: flex;
    justify-content: space-between;
}

.field-header-icon {
    min-width: 130px;
    text-align: right;
    opacity: 0.8;
    padding-left: 15px;
}

.field-item:hover .field-item-control-panel,
.field-item-control-panel:hover,
.field-item-control-panel-right-bookmark:hover {
    opacity: 1;
}

.table-cell-with-input {
    margin: 0 !important;
    padding: 0 !important;
}

.table-cell-with-control-after {
    position: relative;
}

.table-cell-with-input input {
    display: block;
    padding: 8px;
    margin: 0;
    border: 0;
    width: 100%;
    outline: none;
}

.table-cell-with-input-sm input {
    padding: 3px;
}

.proportions-table th,
.proportions-table td {
    min-width: 10em;
}

.proportions-table tr:hover {
    cursor: pointer;
}

.masonry-type {
    padding: 0 8px;
}

.masonry-type:first-child {
    padding-left: 0;
}

.masonry-type:last-child {
    padding-right: 0;
}

.masonry-type-controls {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
}

.masonry-type-controls-show,
.masonry-type:hover .masonry-type-controls,
.masonry-type-controls:hover {
    opacity: 1;
}

.masonry-type-edit-panel {
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    z-index: 1;
    font-size: x-small;
}

.masonry-type-edit-panel table {
    background-color: white;
}

.variations-list {
    min-width: 100%;
}

.selectable-row {
    opacity: 0.8;
    cursor: pointer;
}

.selectable-row-success:hover {
    background-color: rgba(0, 255, 30, 0.2);
}

.selectable-row-danger:hover {
    background-color: rgba(255, 30, 0, 0.2);
}

.selectable-row:hover {
    opacity: 1;
}

.selectable-td {
    opacity: 0.8;
    cursor: pointer;
}

.selectable-td-danger:hover {
    background-color: rgba(255, 30, 0, 0.2);
}

.selectable-td:hover {
    opacity: 1;
}

.control-after-td {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 6px;
    height: 100%;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1;
}

.control-after-td-danger:hover {
    background-color: rgba(255, 30, 0, 0.2);
}

.control-after-td:hover {
    opacity: 1;
}

.material-labels {
    position: absolute;
    max-width: 40%;
    bottom: 50%;
    transform: translateY(50%);
    padding-bottom: 10px;
}

.material-label {
    opacity: 0.8;
    margin: 0 5px;
}

.list-group-padded {
    padding: 5px 0;
}

.gosts {
    position: absolute;
    width: 50%;
    padding-right: 75px;
    padding-left: 80px;
    right: 0;
    top: 0;
}

.gosts-dropdown-menu {
    min-width: 100%;
}

.gost {
    margin: 0 5px;
    cursor: pointer;
}

.gost-edit-panel {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 2;
    padding: 0 32px;
}

.gost-edit-panel table {
    background-color: white;
}

.word-break-all {
    word-break: break-all;
}

.gost-edit-panel .table-cell-with-input {
    min-width: 130px;
}

.field-item-control-panel-right-bottom {
    position: absolute;
    bottom: 2px;
    right: 12px;
    height: 20px;
}

.field-item-control-panel-left-bottom {
    position: absolute;
    bottom: 2px;
    left: 15px;
    height: 20px;
}

.eye-button {
    padding-right: 10px;
    cursor: pointer;
    vertical-align: sub;
}

.eye-button.glyphicon-eye-close {
    opacity: .8;
}

.eye-button.glyphicon-eye-open {
    opacity: 1;
}

.description-order a {
    cursor: pointer;
}

.no-horizontal-paddings {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.add-field-group {
    margin-top: 20px;
}

.add-field-button-container {
    min-height: 71px;
}

.unset-min-width {
    min-width: unset !important;
}

.minimize-td {
    width: 50px;
}

.white-background {
    background-color: white;
}

.proportions-order-icons {
    float: right;
    font-size: 20px;
}

.proportions-order-icons.text-light {
    color: lightgray;
}

.field-item-control-panel-outer-right-top, .field-item-control-panel-outer-right-bottom {
    position: absolute;
    left: 100%;
    padding-left: 3px;
    z-index: 1;
}

.field-item-control-panel-outer-right-top {
    bottom: 50%;
}

.field-item-control-panel-outer-right-bottom {
    top: 50%;
}

.proportions-panel {
}

.proportions-panel-heading {
    position: relative;
}

.manufacturer-button-container {
    position: absolute;
    top: 0;
    left: 160px;
    right: 40px;
}

.manufacturer-button-container .dropdown-menu {
    cursor: pointer;
}

.manufacturer-main-button-container {
    position: relative;
    max-width: 60%;
}

.manufacturer-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.manufacturer-button.manufacturer-button-main {
    width: 100%;
}

.manufacturer-button-main .label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.manufacturers-edit-panel {
    max-width: 100%;
    position: absolute;
    left: 130px;
    top: 30px;
    z-index: 3;
    padding: 0 30px;
}

.manufacturers-edit-panel table {
    background-color: white;
}

.manufacturers-edit-panel .table-cell-with-input {
    min-width: 130px;
}

.absolute-caret {
    position: absolute;
    top: 50%;
    right: 7px;
}

.default-manufacturer-button-td {
    position: relative;
    padding-left: 30px !important;
}

.default-manufacturer-button-container {
    position: absolute;
    left: 0;
    padding-left: 8px;
}

.default-manufacturer-button {
    opacity: 0.8;
    cursor: pointer;
}

.default-manufacturer-button:hover,
.default-manufacturer-button.glyphicon-star-empty:hover {
    opacity: 1;
}

.default-manufacturer-button.glyphicon-star-empty {
    opacity: 0.6;
}

.formats-controls-container {
    margin-left: 15px;
}

.table-formats-dropdown {
    cursor: pointer;
}

.formats-edit-panel {
    min-width: 100%;
    position: absolute;
    top: 30px;
    z-index: 3;
}

.formats-table {
    background-color: white;
}

.formats-dropdown-button {
    max-width: 200px;
}

.formats-dropdown-button .label-text {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.table-head-without-borders,
.table-head-without-borders th,
.table-head-without-borders tr {
    border: none !important;
}

.wide-button {
    min-width: 160px;
}

.proportions-nf-value {
    position: absolute;
    pointer-events: none;
}

.relative-table-cell {
    position: relative;
}

.iconsize-table-cell {
    width: 25px;
}

.nf-btn-text {
    position: absolute;
    bottom: 0;
    font-size: large;
    line-height: initial;
}

.left-cell-button .nf-btn-text {
    left: 0;
}

.right-cell-button .nf-btn-text {
    right: 0;
}

.left-cell-button, .right-cell-button {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out 0.1s;
}

tr:hover .left-cell-button,
tr:hover .right-cell-button {
    opacity: 0.6;
}

.left-cell-button:hover,
.right-cell-button:hover {
    opacity: 1 !important;
}

.left-cell-button {
    left: 0;
}

.right-cell-button {
    right: 0;
}

.proportions-filter-count-0:after,
.proportions-filter-count-1:after,
.proportions-filter-count-2:after {
    font-weight: bold;
    font-size: small;
    vertical-align: bottom;
    margin-left: 4px;
}

.proportions-filter-count-0:after {
    content: '1';
}

.proportions-filter-count-1:after {
    content: '2';
}

.proportions-filter-count-2:after {
    content: '3';
}

.proportions-order-icons.text-light + .proportions-filter-clear {
    display: none;
}

.proportions-filter-clear {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: x-small;
}

.proportions-labels-edit-panel {
    position: absolute;
    z-index: 3;
    max-width: 100%;
    top: 100%;
    min-width: 100%;
    left: 0;
}

.proportions-labels-button {
    float: right;
    padding-right: 5px;
    font-size: 20px;
}

.proportions-labels-edit {
    font-weight: normal;
}

.display-inline-block {
    display: inline-block;
}

.top-cell-button {
    position: absolute;
    top: 0;
    vertical-align: top;
}

.bottom-cell-button {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
}

/*IMAGE-PICKER STYLES*/
.image-picker-container {
    position: relative;
}

.image-picker-panel {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.image-picker-panel-selectable {
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
}
.image-picker-panel-selectable:hover {
    width: 1100%; /* зависит от количества картинок в строке (numPerRow в диррективе imagePicker)*/
    height: auto;
}

/*MATERIAL-SELECTOR STYLES FOR FACTURES*/
.select-facture-container {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0;
    opacity: 0;
    z-index: 4;
    transition: opacity ease-in-out 0.3s;
    pointer-events: none;
}
.select-facture-container.edit-mode {
    margin-left: 20px;
}
.select-facture-container-outer {
    left: 100%;
}

.material-group-item:hover .select-facture-container {
    opacity: 1;
    pointer-events: all;
}

.material-group-item:hover .image-picker {
    pointer-events: all;
}

.select-facture-container .image-picker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.selected-materials-factures {;
    height: 80px;
    border: solid #e5e5e5 1px;
    border-radius: 3px;
    margin: 0 40px 10px 40px;
}

.material-selector-multilayer-header {
    position: fixed;
    margin-top: -30px;
    padding-top: 10px;
    z-index: 11;
}

.material-selector-main-header {
    position: fixed;
    margin-top: -30px;
    padding-top: 10px;
    background-color: white;
    z-index: 10;
    min-height: 50px;
}
.material-selector-main-header_multilayer {
    padding-top: 30px;
}
.material-selector-main-panel {
    margin-top: 20px;
}
.material-selector-main-panel_multilayer {
    padding-top: 40px;
}
.material-selector-layers-buttons {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
 }

.material-selector-layers-buttons_multilayer::before,
.select-layer-buttons_multilayer::before {
    content: '[';
    float: left;
    font-size: 40px;
    line-height: 28px;
}

.material-selector-layers-buttons_multilayer::after,
.select-layer-buttons_multilayer::after {
    content: ']';
    float: right;
    font-size: 40px;
    line-height: 28px;
}

.checkboxes-with-layers-image {
    margin-right: 140px;
}
.select-layer-button-group {
    margin: 0 auto 10px;
}
.vertical-layers-image-container {
    position: absolute;
    right: 80px;
    top: 0;
    height: 80px;
    width: 60vh;
    transform: translate(50%) rotate(90deg) translate(50%);
}
.vertical-layers-image {
    height: 100%;
    border: solid #e5e5e5 1px;
    border-radius: 3px;
}

.material-groups-container .panel-body {
    padding: 0;
}
.material-groups-container .list-group {
    margin: 0 0 5px;
}
.material-groups-container .list-group-item {
    margin-left: 20px;
    border-right: none;
}
.material-groups-container .list-group-item:first-child {
    border-top: none;
    border-radius: 0;
}

.no-border {
    border: none;
}

.add-material-group-button {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

.material-group-header {
    position: relative;
    margin-left: 10px;
}

.material-group-controls-container {
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
}

.material-group-delete {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -25px;
    width: 20px;
    cursor: pointer;
}

.material-group-delete .glyphicon-trash {
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.proportions-eyes-cell {
    padding: 0 !important;
    text-align: center;
    font-size: 14px;
}

.proportions-eyes-cell .glyphicon {
    vertical-align: middle;
}

.vertical-align_middle {
    vertical-align: middle;
}

.add-section-with-save {
    padding-left: 55px;
}

.add-section-with-save dropdown-list {
    padding-left: 0 !important;
}

.search-item-list-item {
    position: relative;
}

.search-item-list-item_with-button {
    padding-right: 40px;
}

.search-item-list-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.add-section-save-button {
    position: absolute;
    left: 15px;
    width: 45px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.left-group-item-add-button,
.right-group-item-add-button {
    position: absolute;
    top: 0;
    bottom: 0;
}

.left-group-item-add-button {
    left: 0;
    right: 50%;
}

.right-group-item-add-button {
    left: 50%;
    right: 0;
}

.select-layer-button-left ,
.select-layer-button-right {
    position: absolute;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
}
.select-layer-button-left {
    left: 2px;
}

.select-layer-button-right {
    right: 2px;
}

.select-layer-button:hover .select-layer-button-left,
.select-layer-button:hover .select-layer-button-right {
    opacity: 1;
}
