line, rect, circle, ellipse, path, text {
    vector-effect: non-scaling-stroke;
}


/* совсем-совсем тонкая */
.lt0 {
    stroke: black;
    stroke-width: .03;
}

/* совсем тонкая */
.lt1 {
    stroke: black;
    stroke-width: .5;
}

/* тонкая */
.lt2 {
    stroke: black;
    stroke-width: 1;
}

/* нормальная */
.lt3 {
    stroke: black;
    stroke-width: 2;
}

/* толстая */
.lt4 {
    stroke: black;
    stroke-width: 3;
}

/* штриховая */
.lt5 {
    stroke: black;
    stroke-width: .7;
    stroke-dasharray: 7, 4;
}

/* пунктир 2 */
.lt6 {
    stroke: black;
    stroke-width: .7;
    stroke-dasharray: 25, 4, 3, 4, 3, 4;
}

.fill-lightgray {
    fill: gainsboro;
}

.hoverable-container:hover .hoverable-item {
    fill: #ADD8E6;
    stroke-width: 1.5;
    stroke: gray;
}

.hoverable-container:hover .hoverable-item.hatch-stroke {
    fill: #ADD8E6;
    stroke-width: 2;
    stroke: black;
}

.facture-separator {
    stroke: #e5e5e5;
    stroke-width: 2;
}

.hatch-stroke {
    stroke: black;
    stroke-width: 2;
}