<svg ng-if="validChunks && validChunks.length"
     width="100%" height="100%">
    <defs>
        <!-- КВАДРАТАМИ -->
        <pattern ng-repeat="value in ['eights', 'zasypka', 'grunt', 'grunt_nasypnoi', 'pesok', 'gyps', 'gypsokarton', 'glina']"
                 id="{{value}}"
                 ng-attr-width="{{height}}"
                 ng-attr-height="{{height}}"
                 patternUnits="userSpaceOnUse">
            <image ng-attr-xlink:href="{{'img/' + value + '.png'}}" xlink:href="" ng-attr-height="{{height}}" ng-attr-width="{{height}}"></image>
        </pattern>

        <!-- воздух -->
        <pattern id="air" width="1" height="1" patternUnits="userSpaceOnUse">
        </pattern>
        <pattern id="solid" width="1" height="1" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" height="1" width="1" fill="black"></rect>
        </pattern>
        <!-- металл -->
        <pattern id="metal" width="8" height="5" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="5"></line>
        </pattern>
        <!-- Плитка -->
        <pattern id="plitka" width="8" height="5" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="5"></line>
        </pattern>
        <pattern id="metal2" width="12" height="5" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="5"></line>
        </pattern>
        <!-- асфальтобетон -->
        <pattern id="asfaltobeton" width="10" height="10"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="10"></line>
            <line class="lt2" x1="0" y1="5" x2="10" y2="5"></line>
        </pattern>
        <pattern id="asfaltobeton2" width="15" height="15"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="8" y1="0" x2="8" y2="15"></line>
            <line class="lt2" x1="0" y1="8" x2="15" y2="8"></line>
        </pattern>
        <!-- неметалл -->
        <pattern id="nemetall" width="10" height="10" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="10"></line>
            <line class="lt2" x1="0" y1="5" x2="10" y2="5"></line>
        </pattern>
        <!-- дерево -->
        <pattern id="wood" width="200" height="100%" viewBox="0 0 200 100"
                 preserveAspectRatio="xMinYMid slice"
                 patternUnits="userSpaceOnUse">
            <path class="lt2" fill="none" d="M-20,0 Q20,50 -20,100"></path>
            <path class="lt2" fill="none" d="M-10,0 Q30,50 -10,100"></path>
            <path class="lt2" fill="none" d="M0,0 Q40,50 0,100"></path>
            <path class="lt2" fill="none" d="M10,0 Q50,50 10,100"></path>
            <path class="lt2" fill="none" d="M20,0 Q60,50 20,100"></path>
            <path class="lt2" fill="none" d="M30,0 Q70,50 30,100"></path>
            <path class="lt2" fill="none" d="M40,0 Q80,50 40,100"></path>
            <path class="lt2" fill="none" d="M50,0 Q90,50 50,100"></path>
            <path class="lt2" fill="none" d="M60,0 Q100,50 60,100"></path>
            <path class="lt2" fill="none" d="M70,0 Q110,50 70,100"></path>
            <path class="lt2" fill="none" d="M80,0 Q120,50 80,100"></path>
            <path class="lt2" fill="none" d="M90,0 Q130,50 90,100"></path>
            <path class="lt2" fill="none" d="M100,0 Q140,50 100,100"></path>
            <path class="lt2" fill="none" d="M110,0 Q150,50 110,100"></path>
            <path class="lt2" fill="none" d="M120,0 Q160,50 120,100"></path>
            <path class="lt2" fill="none" d="M130,0 Q170,50 130,100"></path>
            <path class="lt2" fill="none" d="M140,0 Q180,50 140,100"></path>
            <path class="lt2" fill="none" d="M150,0 Q190,50 150,100"></path>
            <path class="lt2" fill="none" d="M160,0 Q200,50 160,100"></path>
            <path class="lt2" fill="none" d="M170,0 Q210,50 170,100"></path>
            <path class="lt2" fill="none" d="M180,0 Q220,50 180,100"></path>
            <path class="lt2" fill="none" d="M190,0 Q230,50 190,100"></path>
            <path class="lt2" fill="none" d="M200,0 Q240,50 200,100"></path>
        </pattern>
        <!-- камень естественный -->
        <pattern id="stone" width="20" height="30" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="5" x2="5" y2="25"></line>
            <line class="lt2" x1="15" y1="0" x2="15" y2="10"></line>
            <line class="lt2" x1="15" y1="20" x2="15" y2="30"></line>
        </pattern>
        <!-- керамика -->
        <pattern id="ceramic" width="21" height="21" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2 " x1="7" y1="0" x2="7" y2="21"></line>
            <line class="lt2 " x1="14" y1="0" x2="14" y2="21"></line>
        </pattern>
        <!-- керамика -->
        <pattern id="block" width="30" height="30" patternTransform="rotate(45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2 " x1="10" y1="0" x2="10" y2="30"></line>
            <line class="lt2 " x1="20" y1="0" x2="20" y2="30"></line>
        </pattern>
        <!-- бетон -->
        <pattern id="beton" width="50" height="20" patternTransform="rotate(-45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="0" y1="5" x2="30" y2="5"></line>
            <line class="lt2" x1="38" y1="5" x2="42" y2="5"></line>

            <line class="lt2" x1="0" y1="15" x2="3" y2="15"></line>
            <line class="lt2" x1="12" y1="15" x2="15" y2="15"></line>
            <line class="lt2" x1="23" y1="15" x2="50" y2="15"></line>
        </pattern>
        <!-- бетон армированный -->
        <pattern id="beton_arm" width="50" height="20" patternTransform="rotate(-45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="0" y1="5" x2="4" y2="5"></line>
            <line class="lt2" x1="12" y1="5" x2="37" y2="5"></line>

            <line class="lt2" x1="0" y1="15" x2="50" y2="15"></line>
        </pattern>
        <!-- бетон напряженный -->
        <pattern id="beton_napr" width="50" height="20" patternTransform="rotate(-45)"
                 patternUnits="userSpaceOnUse">
            <line class="lt2" x1="0" y1="4" x2="4" y2="4"></line>
            <line class="lt2" x1="12" y1="4" x2="37" y2="4"></line>

            <line class="lt2" x1="0" y1="12" x2="50" y2="12"></line>
            <line class="lt2" x1="0" y1="16" x2="50" y2="16"></line>
        </pattern>
        <!-- вертикальные полосы -->
        <pattern id="vertical" width="10" height="10" patternUnits="userSpaceOnUse">
            <line class="lt2" x1="5" y1="0" x2="5" y2="10"></line>
        </pattern>
        <!-- гидроизоляция -->
        <pattern id="hydroisolation" width="5" height="20" patternUnits="userSpaceOnUse">
            <rect class="lt2" x="0" y="0" width="5" height="10" fill="black"></rect>
        </pattern>
        <!-- пенопласт -->
        <pattern id="penoplast" width="20" height="12" patternUnits="userSpaceOnUse">
            <line class="lt2" x1="0" y1="0" x2="6.7" y2="0"></line>
            <line class="lt2" x1="0" y1="12" x2="6.7" y2="12"></line>

            <line class="lt2" x1="6.7" y1="0" x2="10" y2="6"></line>
            <line class="lt2" x1="6.7" y1="12" x2="10" y2="6"></line>

            <line class="lt2" x1="10" y1="6" x2="16.6" y2="6"></line>

            <line class="lt2" x1="16.6" y1="6" x2="20" y2="0"></line>
            <line class="lt2" x1="16.6" y1="6" x2="20" y2="12"></line>
        </pattern>
        <!-- стекло -->
        <pattern id="glass" width="40" height="40" patternTransform="rotate(3)" patternUnits="userSpaceOnUse">
            <image xlink:href="img/glass.png" width="40" height="40"></image>
        </pattern>
        <!-- гравий -->
        <pattern id="gravel" width="80" height="80" patternUnits="userSpaceOnUse">
            <image xlink:href="img/gravel.png" width="80" height="80"></image>
        </pattern>
        <!-- гравий -->
        <pattern id="scheben" width="30" height="30" patternUnits="userSpaceOnUse">
            <image xlink:href="img/scheben.png" width="30" height="30"></image>
        </pattern>
    </defs>

    <svg ng-repeat="chunk in validChunks"
         ng-attr-x="{{chunk.fromStart}}%"
         y="0"
         ng-attr-width="{{chunk.weight}}%"
         height="100%">
        <defs>
            <!-- Чет непонятное -->
            <pattern id="metprofil" width="100%" height="30" patternUnits="userSpaceOnUse">
                <line class="lt2" x1="6%" y1="0" x2="6%" y2="30"></line>
                <line class="lt2" x1="12%" y1="0" x2="12%" y2="30"></line>

                <line class="lt2" x1="25%" y1="0" x2="25%" y2="15"></line>
                <line class="lt2" x1="75%" y1="0" x2="75%" y2="15"></line>

                <line class="lt2" x1="88%" y1="0" x2="88%" y2="30"></line>
                <line class="lt2" x1="94%" y1="0" x2="94%" y2="30"></line>
            </pattern>
        </defs>

        <title>{{FACTURES_LABELS[chunk.facture]}}</title>
        <rect ng-if="!isCircle"
              fill="url(#{{chunk.facture}})"
              ng-class="{'hatch-stroke': commonService.isStrokedHatch(chunk.facture)}"
              x="0" y="0" width="100%" height="100%">
        </rect>
        <circle ng-if="isCircle"
                fill="url(#{{chunk.facture}})"
                x="50%" y="50%" r="50%">
        </circle>
        <line class="facture-separator"
              ng-if="$index"
              x1="0" y1="0" x2="0" y2="100%">
        </line>
    </svg>
</svg>
