<div class="col-xs-12 table-responsive">
    <table class="table table-hover my-table">
        <thead class="table-head-without-borders"
               ng-if="isUserCanEdit">
        <tr>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[0], 'glyphicon-eye-open': !hiddenCollumns[0]}"
                      ng-click="toggleCollumnVisibility(0)"></span>
            </th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[1],'glyphicon-eye-open': !hiddenCollumns[1]}"
                      ng-click="toggleCollumnVisibility(1)"></span>
            </th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[2], 'glyphicon-eye-open': !hiddenCollumns[2]}"
                      ng-click="toggleCollumnVisibility(2)"></span>
            </th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[3], 'glyphicon-eye-open': !hiddenCollumns[3]}"
                      ng-click="toggleCollumnVisibility(3)"></span>
            </th>
            <th colspan="2" class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[4], 'glyphicon-eye-open': !hiddenCollumns[4]}"
                      ng-click="toggleCollumnVisibility(4)"></span></th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[5], 'glyphicon-eye-open': !hiddenCollumns[5]}"
                      ng-click="toggleCollumnVisibility(5)"></span>
            </th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[6], 'glyphicon-eye-open': !hiddenCollumns[6]}"
                      ng-click="toggleCollumnVisibility(6)"></span>
            </th>
            <th colspan="5" class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[7], 'glyphicon-eye-open': !hiddenCollumns[7]}"
                      ng-click="toggleCollumnVisibility(7)"></span>
            </th>
            <th class="selectable-td">
                <span class="glyphicon glyphicon-lg eye-button noselect glyphicon-md"
                      ng-class="{'glyphicon-eye-close': hiddenCollumns[8], 'glyphicon-eye-open': !hiddenCollumns[8]}"
                      ng-click="toggleCollumnVisibility(8)"></span>
            </th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th rowspan="4">№ п/п</th>
            <th rowspan="4">Наименование работы, услуги</th>
            <th rowspan="4">Ценовая группа</th>
            <th rowspan="4">Глубина,<br>см</th>
            <th colspan="2">Количество</th>
            <th rowspan="4">Ед. изм.</th>
            <th rowspan="4">Цена<br>за<br>ед. изм.,<br>руб.</th>
            <th colspan="5">Расчет стоимости</th>
            <th rowspan="4">Сумма,<br>руб.</th>
        </tr>
        <tr>
            <th rowspan="3">шт.</th>
            <th rowspan="3">ед.изм.</th>
            <th colspan="4">коэффициент</th>
            <th rowspan="3">цена<br>с коэф.,<br>руб.</th>
        </tr>
        <tr>
            <th colspan="2">понижающий</th>
            <th colspan="2">повышающий</th>
        </tr>
        <tr>
            <th>к</th>
            <th>знач.</th>
            <th>к</th>
            <th>знач.</th>
        </tr>
        </thead>
        <tbody ng-repeat="(key, value) in sections">
        <tr>
            <td style="min-width: 61px;">
                <a ng-click="delSection(key)" href="" title="Удалить раздел"><strong>{{key + 1}}</strong></a>
            </td>
            <td colspan="13" style="text-align: left;">
                <button title="Клонировать раздел" type="button" class="btn btn-xs" ng-click="cloneSection(key)"
                        style="float: right; background: none;">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </button>
                <a ng-click="editSection(key)" href="" title="Изменить наименование раздела">
                    <strong>{{value['name']}}<br>
                        <small>{{value['comment']}}</small>
                    </strong>
                </a>
            </td>
        </tr>
        <tr ng-repeat-start="(itemIndex, item) in sections[key].items"
            ng-if="!item['selectedMaterials'] || !isDetailedView">
            <td>
                <a ng-click="delItem(key, itemIndex)" href="" title="Удалить услугу">{{key + 1}}.{{itemIndex + 1}}</a>
            </td>
            <td style="text-align: left;">
                <a ng-click="editItem(key, itemIndex)" href="" title="Изменить услугу">
                    {{common.printWork(key, itemIndex)}}
                    <span ng-if="isDetailedView && item['selectedMaterials'] && item['selectedMaterials'].description">
                        <br><span ng-bind-html="item['selectedMaterials'].description | trust"></span>
                    </span>
                    <span ng-if="item['plos']">{{item['plos']}}.</span>
                    <span ng-if="item.multilayer.isMultilayer">{{item.multilayer.multilayerText}}.</span>
                    {{item['comment']}}
                </a>
                <button title="Клонировать услугу" type="button" class="btn btn-xs" ng-click="cloneItem(key, itemIndex)"
                        style="float: right; background: none;">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <span
                    ng-if="item['material'] && (!item['selectedMaterials'] || !item['selectedMaterials'].description)">
                    {{common.printMaterial(key, itemIndex)}}
                </span>
                <span ng-if="item['selectedMaterials'] && item['selectedMaterials'].usedPriceMaterials"
                      ng-bind-html="item['selectedMaterials'].usedPriceMaterials | trust">
                </span>
            </td>
            <td>{{common.roundToPrecisionStrNoZero(item['glubina'])}}</td>
            <td>{{item['work'] === 2 ? '' : item['kolvo']}}</td>
            <td>{{common.printEdizm(key, itemIndex)}}</td>
            <td>{{common.printEdizmStr(key, itemIndex)}}</td>
            <td ng-init="priceOne = common.roundToPrecisionStr(item['sumItem'])">
                <a ng-click="editPrice(key, itemIndex)" href="" title="Изменить цену"
                   ng-hide="price[(key+1)+'-'+(itemIndex+1)]"
                   ng-style="item['priceStyle']">
                    {{common.roundToPrecisionStr(item['sumItem'])}}
                </a>
                <input ng-change="editPriceOk(key, itemIndex, priceOne)" ng-model="priceOne"
                       id="{{(key+1)+'-'+(itemIndex+1)}}"
                       ng-show="price[(key+1)+'-'+(itemIndex+1)]"
                       style="border: 0px none; text-align: center; width: 100%; color: white; background-color: rgb(51, 122, 183); height: 18px;">
            </td>
            <td>{{item['vars'] && item['vars']['minusStr']}}</td>
            <td>{{item['vars'] && item['vars']['minusSum']}}</td>
            <td>{{item['vars'] && item['vars']['plusStr']}}</td>
            <td>{{item['vars'] && item['vars']['plusSum']}}</td>
            <td>{{common.roundToPrecisionStr(item['sumItogo'])}}</td>
            <td>{{common.roundToPrecisionStr(item['sum'])}}</td>
        </tr>

        <tr ng-if="isDetailedView && item['selectedMaterials']">
            <td>
                <a ng-click="delItem(key, itemIndex)" href="" title="Удалить услугу">{{key + 1}}.{{itemIndex + 1}}</a>
            </td>
            <td colspan="13" style="text-align: left;"
                ng-init="itemNameEdit = false;">
                <button title="Клонировать услугу"
                        type="button"
                        class="btn btn-xs"
                        style="float: right; background: none;"
                        ng-click="cloneItem(key, itemIndex)">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </button>
                <a ng-click="editItem(key, itemIndex)"
                   ng-if="!itemNameEdit"
                   href="" title="Изменить услугу">{{item['itemName']}}</a>
                <div contenteditable
                     class="display-inline-block"
                     ng-if="itemNameEdit"
                     ng-model="item['itemName']"></div>
                &nbsp;<span class="glyphicon glyphicon-pencil selectable-td noselect"
                            ng-class="{'glyphicon-pencil': !itemNameEdit, 'glyphicon-ok text-success': itemNameEdit}"
                            ng-click="itemNameEdit = !itemNameEdit"></span>
            </td>
        </tr>

        <tr ng-repeat="materialKey in common.MATERIALS_KEYS"
            ng-if="isDetailedView && item['selectedMaterials'] && item['selectedMaterials'][materialKey]">
            <td>
                <a ng-click="delSelectedMaterial(item, materialKey)"
                   href="" title="Удалить слой">
                    {{key + 1}}.{{itemIndex + 1}}.{{common.getMaterialIndex(item['selectedMaterials'], materialKey)}}
                </a>
            </td>
            <td style="text-align: left; padding-left: 20px"><span>{{item['selectedMaterials'][materialKey].generatedDescription}}</span></td>
            <td>{{item['selectedMaterials'][materialKey].priceMaterialDescription}}</td>
            <td>{{common.roundToPrecisionStrNoZero(item['selectedMaterials'][materialKey].resultDepth || 0)}}</td>
            <td>{{item['work'] === 2 ? '' : item['kolvo']}}</td>
            <td>{{common.roundToPrecisionStrNoZero((item['selectedMaterials'][materialKey].resultDepth || 0) * item['kolvo'])}}</td>
            <td>{{common.printEdizmStr(key, itemIndex)}}</td>
            <td>{{common.roundToPrecisionStr(item['selectedMaterials'][materialKey].sumItem)}}</td>
            <td>
                <span ng-if="!item['selectedMaterials'][materialKey].discount">
                    {{item['selectedMaterials'][materialKey]['vars']['minusStr']}}
                </span>
                <span ng-if="item['selectedMaterials'][materialKey].discount" ng-init="itemNameEdit">
                    {{item['selectedMaterials'][materialKey]['vars']['minusStr']}}
                    <span ng-if="item['selectedMaterials'][materialKey]['vars']['minusStr']
                                 && item['selectedMaterials'][materialKey].discount">
                        ,&nbsp;
                    </span>
                    <span ng-if="item['selectedMaterials'][materialKey].discount">
                        <!--<div contenteditable-->
                             <!--class="display-inline-block"-->
                             <!--ng-change="onDiscountChange(item, item['selectedMaterials'][materialKey])"-->
                             <!--ng-model="item['selectedMaterials'][materialKey].discount"></div>%-->
                        K6/4
                    </span>
                </span>
            </td>
            <td>
                <span ng-if="item['selectedMaterials'][materialKey]['vars']['minusSum']">
                    {{(item['selectedMaterials'][materialKey]['vars']['minusSum']
                    + item['selectedMaterials'][materialKey].discount).toFixed(2)}}
                </span>
                <span ng-if="!item['selectedMaterials'][materialKey]['vars']['minusSum']
                                && item['selectedMaterials'][materialKey].discount">
                    {{item['selectedMaterials'][materialKey].discount.toFixed(2)}}
                </span>
            </td>
            <td>{{item['selectedMaterials'][materialKey]['vars']['plusStr']}}</td>
            <td>{{item['selectedMaterials'][materialKey]['vars']['plusSum']}}</td>
            <td>{{common.roundToPrecisionStr(item['selectedMaterials'][materialKey]['sumItogo'])}}</td>
            <td>{{common.roundToPrecisionStr(item['selectedMaterials'][materialKey]['sum'])}}</td>
        </tr>

        <tr ng-repeat-end
            ng-if="+item.minSum > +item.sum">
            <td></td>
            <td colspan="12" style="text-align: right;">Учитывая минимальную стоимость:</td>
            <td>{{common.roundToPrecisionStr(item.minSum)}}</td>
        </tr>

        <tr>
            <td></td>
            <td style="text-align: left;">
                <button type="button" class="btn btn-primary btn-xs" ng-click="addItem(key)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить работу, услугу
                </button>
            </td>
            <td colspan="11" style="text-align: right; padding-right: 8px">по {{key + 1}}</td>
            <td>{{common.roundToPrecisionStr(sections[key]['itogo'])}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{sections.length ? 13 : 14}}" style="text-align: left;">
                <button type="button" class="btn btn-primary btn-xs" ng-click="addSection()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить раздел
                </button>
                <span ng-if="sections.length" style="float: right;">Итого</span>
            </td>
            <td ng-if="sections.length">
                {{common.roundToPrecisionStr(sections['itogo'])}}
            </td>
        </tr>
        <tr ng-if="sections['discount']">
            <td colspan="13" class="text-right">
                Индивидуальный коэффициент (минимальная стоимость оказываемой услуги: {{currentPrices.minPrice}} руб.)
            </td>
            <td>{{common.roundToPrecisionStr(sections['discount'])}}</td>
        </tr>
        <tr ng-if="sections.isClientDiscount">
            <td colspan="13" class="text-right">
                Скидка,
                <div contenteditable
                     class="display-inline-block"
                     ng-change="onClientDiscountChange()"
                     ng-model="input.clientDiscount"></div>%
            </td>
            <td>{{common.roundToPrecisionStr(sections.clientDiscountValue || 0)}}</td>
        </tr>
        <tr>
            <td colspan="13" class="text-right">Итого НДС</td>
            <td ng-click="nds()">
                <div ng-if="!ifNds()">Без НДС</div>
                <div ng-if="ifNds()">
                    <span ng-if="!sections.isClientDiscount">
                        {{common.roundToPrecisionStr((sections['itogo'] + sections['discount']) * 0.18)}}
                    </span>
                    <span ng-if="sections.isClientDiscount">
                        {{common.roundToPrecisionStr(sections.sumWithClientDiscount * 0.18)}}
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="13" class="text-right"><strong>Всего с учетом НДС</strong></td>
            <td ng-if="!sections.isClientDiscount">
                <strong>
                    <div ng-if="!ifNds()">{{common.roundToPrecisionStr(sections['itogo'] + sections['discount'])}}</div>
                    <div ng-if="ifNds()">
                        {{common.roundToPrecisionStr((sections['itogo'] + sections['discount']) * 1.18)}}
                    </div>
                </strong>
            </td>
            <td ng-if="sections.isClientDiscount">
                <strong>
                    <div ng-if="!ifNds()">{{common.roundToPrecisionStr(sections.sumWithClientDiscount)}}</div>
                    <div ng-if="ifNds()">{{common.roundToPrecisionStr(sections.sumWithClientDiscount * 1.18)}}</div>
                </strong>
            </td>
        </tr>
        </tfoot>
    </table>
    <label for="minPriceInput">Стоимость минимального заказа: </label>
    <a ng-click="editMinPrice()"
       href=""
       title="Изменить"
       ng-if="!isEditMinPrice"
       ng-style="{color: currentPrices.isMinPriceEdited ? 'red' : 'auto'}">{{currentPrices.minPrice}}</a>
    <input ng-show="isEditMinPrice"
           ng-blur="changeMinPrice()"
           ng-keyup="$event.keyCode == 13 ? changeMinPrice() : null"
           id="minPriceInput"
           type="number"
           title="Стоимость минимального заказа"
           min="1"
           ng-model="customMinPrice"
           style="border: 0 none; text-align: center; color: white; background-color: rgb(51, 122, 183); height: 18px;">
    <br>
    <label><input type="checkbox" ng-checked="ifNds()" ng-click="nds()"> Считать с учетом НДС</label>
    <br>
    <label><input type="checkbox"
                  ng-checked="sections.isClientDiscount"
                  ng-click="toggleClientDiscountCheckbox()"> Общая скидка</label>

    <div ng-show="usedFactorsService.factors && usedFactorsService.factors.length">
        <br><br>
        <table class="my-table">
            <thead>
            <tr>
                <th colspan="3">Система наценок, скидок</th>
            </tr>
            <tr>
                <th>Наименование наценки, услуги</th>
                <th>Номер коэф.</th>
                <th>Значения коэф.</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usedFactor in usedFactorsService.factors">
                <td style="text-align: left;">{{ usedFactor.description }}</td>
                <td>K{{ usedFactor.name }}</td>
                <td>{{ usedFactor.val }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
