<div class="col-xs-12">
    <form class="form-horizontal">
        <h3>Добавление раздела</h3>
        <div class="form-group"
             ng-class="{'add-section-with-save': isUserCanEdit}">
            <button class="btn btn-default add-section-save-button"
                    type="button"
                    ng-disabled="!input['name']"
                    ng-if="isUserCanEdit"
                    ng-click="pushSection()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <dropdown-list class="col-xs-12"
                           input-class="form-control"
                           search-result="input['name']"
                           items-list="nameDropdownData"
                           placeholder="{{input['title']}}"
                           with-buttons="isUserCanEdit"
                           buttons="dropdownButtons">
            </dropdown-list>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text" class="form-control" ng-model="input['comment']"
                       placeholder="Комментарий в свободной форме">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" ng-click="addSection()">Добавить раздел</button>
                <button type="button" class="btn btn-primary" ng-click="exit()">Отмена</button>
            </div>
        </div>
    </form>
</div>