<material-selector ng-if="selectingMaterialId"
                   selecting-material-id="selectingMaterialId"
                   selected-materials="selectedMaterials"
                   materials="materialsForMaterialSelector"
                   multilayer="multilayer"
                   on-select="onMaterialSelected(materialGroup)"
                   on-clear="onClearSelectedMaterial()"
                   change-layer="startSelect(key)"
                   result-material="selectedMaterials[selectingMaterialId]"></material-selector>
<div class="col-xs-12" ng-hide="selectingMaterialId">
    <form name="form101">

        <div class="row">

            <div class="col-sm-3">

                <div class="form-group">
                    <label>Работа, услуга</label>
                    <div>
                        <select class="form-control" ng-options="work.name for work in options.work_types"
                                ng-change="onWorkTypeChange()"
                                ng-model="input['work']"></select>
                    </div>
                </div>

                <div ng-show="input['work']['id'] === 1">
                    <div class="form-group">
                        <label>Расположение отверстия</label>
                        <div class="radio">
                            <label style="margin-right: 20px;">
                                <input type="radio" value="Стена" ng-model="input['plos']">
                                Стена
                            </label>
                            <label style="margin-right: 20px;">
                                <input type="radio" value="Пол" ng-model="input['plos']">
                                Пол
                            </label>
                            <label>
                                <input type="radio" value="Потолок" ng-model="input['plos']">
                                Потолок
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Краткое описание</label>
                        <div>
                            <input type="text" max="70" class="form-control" ng-model="input['comment']">
                        </div>
                    </div>
                    <div class="form-group"
                         ng-if="input['glubina']">
                        <label>Материал</label>
                        <blockquote>
                            <div ng-repeat="selectedMaterialKey in common.MATERIALS_KEYS"
                                 ng-if="selectedMaterials[selectedMaterialKey]">
                                <div>
                                    <strong>{{common.MATERIALS_LABELS[$index]}}</strong>:&nbsp;
                                    {{selectedMaterials[selectedMaterialKey].generatedDescription}}
                                </div>
                                <footer>Толщина {{selectedMaterials[selectedMaterialKey].resultDepth}} см.</footer>
                            </div>
                            <br>
                            <div>
                                <strong>Итоговая толщина</strong>: {{common.roundToPrecisionStr(input['glubina'])}} см.
                            </div>
                        </blockquote>
                    </div>
                    <div class="form-group">
                        <label>Диаметр бура, мм</label>
                        <div>
                            <select class="form-control"
                                    ng-options="diameter.name for diameter in options.diameters"
                                    ng-model="input['diameter']"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Количество</label>
                        <div>
                            <input name="kolvo1" type="number" min="1" required class="form-control"
                                   ng-model="input['kolvo']">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Понижающий коэффициент (индивидуальный)</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="{{(input.discount || input.discount === 0) ? input.discount : 'Заменить для всех'}}"
                                   ng-model="input.discount"
                                   ng-change="onDiscountChange()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Минимальная сумма, руб.</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="0"
                                   ng-model="input.minSum"
                                   ng-change="onMinSumChange()">
                        </div>
                    </div>
                </div>

                <div ng-show="input['work']['id'] === 2">
                    <div class="form-group">
                        <label>Наименование работы, услуги</label>
                        <div>
                            <select class="form-control"
                                    ng-options="work.name for work in availableAparatRezki"
                                    ng-model="input['work_2']">
                                <option value="">Не выбрано</option>
                            </select>
                        </div>
                        <p ng-show="input['work_2']" style="font-size: 11px; margin-top: 5px;">
                            Тип двигателя:
                            {{input['work_2'].tip}}<br>
                            Процесс реза:
                            {{input['work_2'].pros}}<br>
                            Максимальная глубина пила:
                            {{input['work_2'].max}}
                            мм.
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Расположение отверстия ...{{input.plos}}...</label>
                        <div class="radio">
                            <div class="radio">
                                <label style="margin-right: 20px;">
                                    <input type="radio" value="Стена" ng-model="input['plos']">
                                    Стена
                                </label>
                                <label style="margin-right: 20px;">
                                    <input type="radio" value="Пол" ng-model="input['plos']">
                                    Пол
                                </label>
                                <label>
                                    <input type="radio" value="Потолок" ng-model="input['plos']">
                                    Потолок
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Краткое описание</label>
                        <div>
                            <input type="text" max="70" class="form-control" ng-model="input['comment']">
                        </div>
                    </div>
                    <div class="form-group"
                         ng-if="input['glubina']">
                        <label>Материал</label>
                        <blockquote>
                            <div ng-repeat="selectedMaterialKey in common.MATERIALS_KEYS"
                                 ng-if="selectedMaterials[selectedMaterialKey]">
                                <div>
                                    <strong>{{common.MATERIALS_LABELS[$index]}}</strong>:&nbsp;
                                    {{selectedMaterials[selectedMaterialKey].generatedDescription}}
                                </div>
                                <footer>Толщина {{selectedMaterials[selectedMaterialKey].resultDepth}} см.</footer>
                            </div>
                            <br>
                            <div>
                                <strong>Итоговая толщина</strong>: {{common.roundToPrecisionStr(input['glubina'])}} см.
                            </div>
                        </blockquote>
                    </div>
                    <div class="form-group">
                        <label>Длина реза, мм</label>
                        <div>
                            <input type="number"
                                   name="kolvo2"
                                   min="100"
                                   class="form-control"
                                   required
                                   ng-model="input['kolvo']">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Понижающий коэффициент (индивидуальный)</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="{{currentCheckboxTab ? (input.discount || '0') : 'Заменить для всех'}}"
                                   ng-model="input.discount"
                                   ng-change="onDiscountChange()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Минимальная сумма, руб.</label>
                        <div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="0"
                                   ng-model="input.minSum"
                                   ng-change="onMinSumChange()">
                        </div>
                    </div>
                </div>

                <div ng-show="input['work']['id'] === 3">
                    <div ng-show="!options.addSections || !options.addSections.length">
                        <div class="form-group">
                            <label>Наименование работы, услуги</label>
                            <div>
                                <input type="text" class="form-control" ng-model="input['name_3']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Материал</label>
                            <div>
                                <input type="text" class="form-control" ng-model="input['material_3']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Глубина, см</label>
                            <div>
                                <input type="text" class="form-control" ng-model="input['glubina_3']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Количество, шт.</label>
                            <div>
                                <input type="number" class="form-control" ng-model="input['kolvo']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Количество, ед.изм.</label>
                            <div>
                                <input type="number" min="1" class="form-control" ng-model="input['edizm_3']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ед.изм.</label>
                            <div>
                                <input type="text" class="form-control" ng-model="input['edizmStr_3']">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Цена за ед.изм., руб.</label>
                            <div>
                                <input type="number" min="1" class="form-control" ng-model="input['edizmPrice_3']">
                            </div>
                        </div>
                    </div>
                    <div ng-show="options.addSections && options.addSections.length">
                        <div class="form-group">
                            <label>Раздел</label>
                            <div>
                                <select class="form-control"
                                        ng-options="addSection.name for addSection in options.addSections"
                                        ng-change="onAddSectionSelected()"
                                        ng-model="input['addSection']"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Продукт</label>
                            <div>
                                <select class="form-control"
                                        ng-options="addProduct.name for addProduct in input['addSection'].products"
                                        ng-model="input['addProduct']"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Количество, {{ input['addProduct'].edStr }}</label>
                            <div>
                                <input type="number" class="form-control" ng-model="input['kolvo']">
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="input['work']['id'] === 4">
                    <div class="form-group">
                        <label>Район</label>
                        <div>
                            <select class="form-control"
                                    ng-options="region.name for region in options.regions"
                                    ng-change="onRegionSelected()"
                                    ng-model="input['region']"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Населенный пункт</label>
                        <div>
                            <select class="form-control"
                                    ng-options="place.name for place in input['region'].places"
                                    ng-model="input['place']"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Краткое описание</label>
                        <div>
                            <input type="text" max="70" class="form-control" ng-model="input['comment_4']">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Количество</label>
                        <div>
                            <input type="number" class="form-control" ng-model="input['kolvo']">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-9"
                 ng-if="input['work']['id'] <= 2"
                 style="font-size: 0.9em;">
                <div class="row">
                    <div class="col-sm-12 text-center" ng-if="multilayer.isMultilayer">
                        <strong style="padding-right: 85px">{{multilayer.multilayerText}}:</strong>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group select-layer-button-group">
                            <div class="btn-group"
                                 ng-class="{'select-layer-buttons_multilayer': multilayer.isMultilayer}"
                                 role="group">
                                <button type="button"
                                        class="btn btn-default select-layer-button"
                                        ng-repeat="selectedMaterialKey in common.MATERIALS_KEYS"
                                        ng-if="isSelectedMaterialButtonVisible(selectedMaterialKey)"
                                        ng-class="{'btn-success': selectedMaterials[selectedMaterialKey]}"
                                        ng-click="startSelect(selectedMaterialKey)">
                                    <span class="glyphicon glyphicon-menu-left select-layer-button-left"
                                          ng-click="moveLayerLeft($index, $event)"></span>
                                    &nbsp;&nbsp;{{common.MATERIALS_LABELS[$index]}}&nbsp;&nbsp;
                                    <span class="glyphicon glyphicon-menu-right select-layer-button-right"
                                          ng-click="moveLayerRight($index, $event)"></span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-link"
                                    ng-click="clearSelectedMaterials()">очистить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row"
                     ng-if="(!input['plos'] || input['plos'] === 'Стена') && factureChunks && factureChunks.length">
                    <div class="col-sm-12">
                        <div class="selected-materials-factures">
                            <svg-drawer chunks="factureChunks" height="80"></svg-drawer>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-class="{'btn-info': !currentCheckboxTab}"
                                        ng-click="toggleCheckboxTab(null)">
                                    Для всех
                                </button>
                                <button type="button" class="btn btn-default"
                                        ng-repeat="selectedMaterialKey in common.MATERIALS_KEYS"
                                        ng-if="selectedMaterials[selectedMaterialKey]"
                                        ng-class="{'btn-info': currentCheckboxTab === selectedMaterialKey}"
                                        ng-click="toggleCheckboxTab(selectedMaterialKey)">
                                    {{common.MATERIALS_LABELS[$index]}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"
                     id="checkboxesContainerElement"
                     ng-class="{'checkboxes-with-layers-image': input['plos'] && input['plos'] !== 'Стена' && factureChunks && factureChunks.length}">
                    <div ng-class="getClassForFactorsColumn(0)"
                         ng-if="isColumnVisible(0)">
                        <div class="checkbox"
                             ng-repeat="factor in options.factors.slice(0, numForFirstColumn())">
                            <label>
                                <input type="checkbox" ng-model="checkbox[factor.key]">
                                {{factor.name}}: [{{factor.val}}] {{ factor.description }}
                            </label>
                        </div>
                    </div>

                    <div ng-class="getClassForFactorsColumn(1)"
                         ng-if="isColumnVisible(1)">
                        <div class="checkbox"
                             ng-repeat="factor in options.factors.slice(
                             currentPrices.factorsPerColumn[0],
                             currentPrices.factorsPerColumn[0] + numForSecondColumn())">
                            <label>
                                <input type="checkbox" ng-model="checkbox[factor.key]">
                                {{factor.name}}: [{{factor.val}}] {{ factor.description }}
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4"
                         ng-if="isColumnVisible(2)">
                        <div class="checkbox"
                             ng-repeat="factor in options.factors.slice(
                                 currentPrices.factorsPerColumn[0] + currentPrices.factorsPerColumn[1],
                                 options.factors.length)">
                            <label>
                                <input type="checkbox" ng-model="checkbox[factor.key]">
                                {{factor.name}}: [{{factor.val}}] {{ factor.description }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="vertical-layers-image-container"
                     ng-if="input['plos'] && input['plos'] !== 'Стена' && factureChunks && factureChunks.length">
                    <div class="vertical-layers-image"
                         ng-style="{width: document.checkboxesContainerElement.clientHeight + 'px'}">
                        <svg-drawer chunks="factureChunks" height="80"></svg-drawer>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-click="addItem()"
                            ng-disabled="isSaveButtonDisabled(form101)">
                        Сохранить услугу
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="exit()">Отмена</button>
                    <button type="button"
                            class="btn"
                            style="float: right"
                            ng-class="{'btn-primary': isEditSettings, 'btn-default': !isEditSettings}"
                            ng-click="isEditSettings = !isEditSettings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="form-inline">
                    <div class="row text-center" ng-show="isEditSettings">
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error': numForFirstColumn() > currentPrices.factorsPerColumn[0]}">
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           title="Количество коэфициентов в 1 столбце"
                                           ng-change="currentPrices.saveFactorsPerColumn(1)"
                                           ng-model="currentPrices.factorsPerColumn[0]">
                                    <span class="input-group-addon">
                            <span class="badge">
                                {{numForFirstColumn()}}
                            </span>
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error': numForSecondColumn() > currentPrices.factorsPerColumn[1]}">
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           ng-disabled="currentPrices.factorsPerColumn[0] >= options.factors.length"
                                           title="Количество коэфициентов во 2 столбце"
                                           ng-change="currentPrices.saveFactorsPerColumn(0)"
                                           ng-model="currentPrices.factorsPerColumn[1]">
                                    <span class="input-group-addon">
                            <span class="badge">
                                {{numForSecondColumn()}}
                            </span>
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group"
                                 ng-class="{'has-error': numForThirdColumn() > currentPrices.factorsPerColumn[2]}">
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           ng-disabled="!currentPrices.factorsPerColumn[1]
                                           || (currentPrices.factorsPerColumn[0] + currentPrices.factorsPerColumn[1]) >= options.factors.length"
                                           title="Количество коэфициентов в 3 столбце"
                                           ng-change="currentPrices.saveFactorsPerColumn(0)"
                                           ng-model="currentPrices.factorsPerColumn[2]">
                                    <span class="input-group-addon">
                            <span class="badge">
                                {{numForThirdColumn()}}
                            </span>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
