<div id="print-table" class="col-xs-12" style="font-size: 8px;">
    <div class="row">
        <div class="col-xs-12">
            <div ng-init="address = 1">
                <address ng-click="address = 0" ng-if="address === 1">
                    <strong>ИП Иванов Виктор Викторович, "КубаньДемонтаж"</strong> <br>
                    ИНН: 420592128610, ОГРНИП 311230133400030, ОКПО 0181049139, <br>
                    р/с №40802810007300000326 в филиале №8 ОАО КБ «ЦЕНТР-ИНВЕСТ» г.Краснодар, ул.Садовая, д.113/1, <br>
                    БИК 040349550, кор/с №30101810100000000550 в ГРКЦ ГУ Банка России по Краснодарскому краю, <br>
                    юр. адрес: Анапа, п. Супсех, ул. Советская 107, физ. адрес: Анапа, пр. Белорусский 8е, офис 8, <br>
                    тел.: +7 (918) 233-95-97, сайт: кубаньдемонтаж.рф, e-mail: kubdem@mail.ru <br> <br>
                    Исх. №<u> {{calcId}} </u>от<u> {{dateCreate}} </u>г.
                </address>
                <address ng-click="address = 1" ng-if="address === 0">
                    <strong>ИП Иванова Марина Владимировна, "КубаньДемонтаж"</strong> <br>
                    ИНН: 230115732277, ОГРНИП 313230123500029, ОКПО 0190908912, <br>
                    р/с №40802810307300000398 в филиале №8 ОАО КБ «ЦЕНТР-ИНВЕСТ» г.Краснодар, ул.Садовая, д.113/1, <br>
                    БИК 040349550, кор/с №30101810100000000550 в ГРКЦ ГУ Банка России по Краснодарскому краю, <br>
                    юр. адрес: Анапа, п. Супсех, ул. Советская 107, физ. адрес: Анапа, пр. Белорусский 8е, офис 8, <br>
                    тел.: +7 (918) 233-95-97, сайт: кубаньдемонтаж.рф, e-mail: kubdem@mail.ru <br> <br>
                    Исх. №<u> {{calcId}} </u>от<u> {{dateCreate}} </u>г.
                </address>
            </div>
            <div style="position: absolute; top: 0px; right: 10px; text-align: center;">
                <div style="font-weight: 700; font-size: 27px;">КубаньДемонтаж</div>
                <div style="font-size: 10px;">больше профессионализма - меньше затрат</div>
            </div>

            <h3 style="margin-top: 0px; text-align: center;">Коммерческое предложение</h3>
            <p>Цены действительны до ________________________________</p>
            <p>Заказчик
                _____________________________________________________________________________________________________________________________________________________</p>
            <p>Стройка
                _____________________________________________________________________________________________________________________________________________________</p>
            <br>
            <table class="my-table">
                <thead>
                <tr>
                    <th ng-if="!hiddenCollumns[0]" rowspan="4">№ п/п</th>
                    <th ng-if="!hiddenCollumns[1]" rowspan="4">Наименование работы, услуги</th>
                    <th ng-if="!hiddenCollumns[2]" rowspan="4">Ценовая группа</th>
                    <th ng-if="!hiddenCollumns[3]" rowspan="4">Глубина,<br>см</th>
                    <th ng-if="!hiddenCollumns[4]" colspan="2">Количество</th>
                    <th ng-if="!hiddenCollumns[5]" rowspan="4">Ед. изм.</th>
                    <th ng-if="!hiddenCollumns[6]" rowspan="4">Цена<br>за<br>ед. изм.,<br>руб.</th>
                    <th ng-if="!hiddenCollumns[7]" colspan="5">Расчет стоимости</th>
                    <th ng-if="!hiddenCollumns[8]" rowspan="4">Сумма,<br>руб.</th>
                </tr>
                <tr>
                    <th ng-if="!hiddenCollumns[4]" rowspan="3">шт.</th>
                    <th ng-if="!hiddenCollumns[4]" rowspan="3">ед.изм.</th>
                    <th ng-if="!hiddenCollumns[7]" colspan="4">коэффициент</th>
                    <th ng-if="!hiddenCollumns[7]" rowspan="3">цена<br>с коэф.,<br>руб.</th>
                </tr>
                <tr>
                    <th ng-if="!hiddenCollumns[7]" colspan="2">понижающий</th>
                    <th ng-if="!hiddenCollumns[7]" colspan="2">повышающий</th>
                </tr>
                <tr>
                    <th ng-if="!hiddenCollumns[7]">к</th>
                    <th ng-if="!hiddenCollumns[7]">знач.</th>
                    <th ng-if="!hiddenCollumns[7]">к</th>
                    <th ng-if="!hiddenCollumns[7]">знач.</th>
                </tr>
                </thead>
                <tbody ng-repeat="(key, value) in sections">
                <tr>
                    <td ng-if="!hiddenCollumns[0]"><span ng-if="hiddenCollumns[1]">{{key + 1}}</span></td>
                    <td ng-if="!hiddenCollumns[1]" colspan="{{(hiddenCollumns[0] ? 14 : 13) - hiddenCollumns.length}}" style="text-align: left;">
                        <strong>Раздел {{key + 1}}. {{value['name']}}<br>
                            <small>{{value['comment']}}</small>
                        </strong>
                    </td>
                </tr>
                <tr ng-repeat-start="(itemIndex, item) in sections[key].items"
                    ng-if="!item['selectedMaterials'] || !isDetailedView">
                    <td ng-if="!hiddenCollumns[0]">
                        {{key + 1}}.{{itemIndex + 1}}
                    </td>
                    <td ng-if="!hiddenCollumns[1]" style="text-align: left;">
                        {{common.printWork(key, itemIndex)}}
                        <span ng-if="isDetailedView && item['selectedMaterials'] && item['selectedMaterials'].description">
                            <br><span ng-bind-html="item['selectedMaterials'].description | trust"></span>
                        </span>
                        <span ng-if="item['plos']">{{item['plos']}}.</span>
                        {{item['comment']}}
                    </td>
                    <td ng-if="!hiddenCollumns[2]">
                        <span ng-if="item['material'] && (!item['selectedMaterials'] || !item['selectedMaterials'].description)">
                            {{common.printMaterial(key, itemIndex)}}
                        </span>
                        <span ng-if="item['selectedMaterials'] && item['selectedMaterials'].usedPriceMaterials"
                              ng-bind-html="item['selectedMaterials'].usedPriceMaterials | trust">
                        </span>
                    </td>
                    <td ng-if="!hiddenCollumns[3]">{{common.roundToPrecisionStrNoZero(item['glubina'])}}</td>
                    <td ng-if="!hiddenCollumns[4]">{{item['kolvo']}}</td>
                    <td ng-if="!hiddenCollumns[4]">{{common.printEdizm(key, itemIndex)}}</td>
                    <td ng-if="!hiddenCollumns[5]">{{common.printEdizmStr(key, itemIndex)}}</td>
                    <td ng-if="!hiddenCollumns[6]">{{common.roundToPrecisionStr(item['sumItem'])}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['vars'] && item['vars']['minusStr']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['vars'] && item['vars']['minusSum']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['vars'] && item['vars']['plusStr']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['vars'] && item['vars']['plusSum']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{common.roundToPrecisionStr(item['sumItogo'])}}</td>
                    <td ng-if="!hiddenCollumns[8]">{{common.roundToPrecisionStr(item['sum'])}}</td>
                </tr>

                <tr ng-if="isDetailedView && item['selectedMaterials']">
                    <td ng-if="!hiddenCollumns[0]">{{key + 1}}.{{itemIndex + 1}}</td>
                    <td ng-if="!hiddenCollumns[1]" colspan="13" style="text-align: left;">
                        {{common.printWork(key, itemIndex)}}
                        <span ng-if="item['plos']">{{item['plos']}}.</span>
                        <span ng-if="item.multilayer.isMultilayer">{{item.multilayer.multilayerText}}.</span>
                        {{item['comment']}}
                    </td>
                </tr>
                <tr ng-repeat="materialKey in common.MATERIALS_KEYS"
                    ng-if="isDetailedView && item['selectedMaterials'][materialKey]">
                    <td ng-if="!hiddenCollumns[0]">
                        {{key + 1}}.{{itemIndex + 1}}.{{common.getMaterialIndex(item['selectedMaterials'], materialKey)}}
                    </td>
                    <td ng-if="!hiddenCollumns[1]" style="text-align: left; padding-left: 20px">
                        {{item['selectedMaterials'][materialKey].generatedDescription}}
                    </td>
                    <td ng-if="!hiddenCollumns[2]">{{item['selectedMaterials'][materialKey].priceMaterialDescription}}</td>
                    <td ng-if="!hiddenCollumns[3]">{{common.roundToPrecisionStrNoZero(item['selectedMaterials'][materialKey].resultDepth || 0)}}</td>
                    <td ng-if="!hiddenCollumns[4]">{{item['kolvo']}}</td>
                    <td ng-if="!hiddenCollumns[4]">
                        {{common.roundToPrecisionStrNoZero((item['selectedMaterials'][materialKey].resultDepth || 0) * item['kolvo'])}}
                    </td>
                    <td ng-if="!hiddenCollumns[5]">{{common.printEdizmStr(key, itemIndex)}}</td>
                    <td ng-if="!hiddenCollumns[6]">
                        {{common.roundToPrecisionStr(item['selectedMaterials'][materialKey].sumItem)}}
                    </td>
                    <td ng-if="!hiddenCollumns[7]">
                        <span ng-if="!item['selectedMaterials'][materialKey].discount">
                            {{item['selectedMaterials'][materialKey]['vars']['minusStr']}}
                        </span>
                        <span ng-if="item['selectedMaterials'][materialKey].discount" ng-init="itemNameEdit">
                            {{item['selectedMaterials'][materialKey]['vars']['minusStr']}}
                            <span ng-if="item['selectedMaterials'][materialKey]['vars']['minusStr']
                                         && item['selectedMaterials'][materialKey].discount">
                                ,&nbsp;
                            </span>
                            <span ng-if="item['selectedMaterials'][materialKey].discount">
                                <!--{{item['selectedMaterials'][materialKey].discount}}%-->
                                K6/4
                            </span>
                        </span>
                    </td>
                    <td ng-if="!hiddenCollumns[7]">
                        <span ng-if="item['selectedMaterials'][materialKey]['vars']['minusSum']">
                            {{(item['selectedMaterials'][materialKey]['vars']['minusSum']
                            + item['selectedMaterials'][materialKey].discount).toFixed(2)}}
                        </span>
                        <span ng-if="!item['selectedMaterials'][materialKey]['vars']['minusSum']">
                            {{item['selectedMaterials'][materialKey].discount.toFixed(2)}}
                        </span>
                    </td>
                    <td ng-if="!hiddenCollumns[7]">{{item['selectedMaterials'][materialKey]['vars']['plusStr']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['selectedMaterials'][materialKey]['vars']['plusSum']}}</td>
                    <td ng-if="!hiddenCollumns[7]">{{item['selectedMaterials'][materialKey]['sumItogo']}}</td>
                    <td ng-if="!hiddenCollumns[8]">{{item['selectedMaterials'][materialKey]['sum']}}</td>
                </tr>

                <tr ng-repeat-end
                    ng-if="+item.minSum > +item.sum">
                    <td></td>
                    <td colspan="12" style="text-align: right;">Учитывая минимальную стоимость:</td>
                    <td>{{common.roundToPrecisionStr(item.minSum)}}</td>
                </tr>

                <tr ng-if="hiddenCollumns[8]"><td></td><td colspan="13">&nbsp;</td></tr>
                <tr ng-if="!hiddenCollumns[8]">
                    <td ng-if="!hiddenCollumns[0]"></td>
                    <td colspan="{{(hiddenCollumns[0] ? 13 : 12) - hiddenCollumns.length}}"
                        style="text-align: right;">
                        по {{key + 1}}
                    </td>
                    <td>{{common.roundToPrecisionStr(sections[key]['itogo'])}}</td>
                </tr>
                </tbody>
                <tfoot ng-if="!hiddenCollumns[8]">
                <tr>
                    <td colspan="{{13 - hiddenCollumns.length}}" class="text-right">Итого</td>
                    <td>{{common.roundToPrecisionStr(sections['itogo'])}}</td>
                </tr>
                <tr ng-if="sections['discount']">
                    <td colspan="{{13 - hiddenCollumns.length}}" class="text-right">
                        Индивидуальный коэффициент (минимальная стоимость оказываемой услуги: {{currentPrices.minPrice}} руб.)
                    </td>
                    <td>{{common.roundToPrecisionStr(sections['discount'])}}</td>
                </tr>
                <tr ng-if="sections['discount'] && sections.clientDiscount">
                    <td colspan="13" class="text-right">Скидка, {{sections.clientDiscount}}%</td>
                    <td>{{common.roundToPrecisionStr(sections.clientDiscountValue || 0)}}</td>
                </tr>
                <tr>
                    <td colspan="{{13 - hiddenCollumns.length}}" class="text-right">Итого НДС</td>
                    <td>
                        <div ng-if="!ifNds()">Без НДС</div>
                        <div ng-if="ifNds()">
                            <span ng-if="!sections.clientDiscount">
                                {{common.roundToPrecisionStr((sections['itogo'] + sections['discount']) * 0.18)}}
                            </span>
                            <span ng-if="sections.clientDiscount">
                                {{common.roundToPrecisionStr(sections.sumWithClientDiscount * 0.18)}}
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="{{13 - hiddenCollumns.length}}" class="text-right"><strong>Всего с учетом НДС</strong></td>
                    <td ng-if="!sections.clientDiscount">
                        <strong>
                            <div ng-if="!ifNds()">
                                {{common.roundToPrecisionStr(sections['itogo'] + sections['discount'])}}
                            </div>
                            <div ng-if="ifNds()">
                                {{common.roundToPrecisionStr((sections['itogo'] + sections['discount']) * 1.18)}}
                            </div>
                        </strong>
                    </td>
                    <td ng-if="sections.clientDiscount">
                        <strong>
                            <div ng-if="!ifNds()">
                                {{common.roundToPrecisionStr(sections.sumWithClientDiscount)}}
                            </div>
                            <div ng-if="ifNds()">
                                {{common.roundToPrecisionStr(sections.sumWithClientDiscount * 1.18)}}
                            </div>
                        </strong>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row" ng-if="!hiddenCollumns[7]">
        <div class="col-xs-6" ng-if="usedFactorsService.factors && usedFactorsService.factors.length">
            <br><br>
            <table class="my-table">
                <thead>
                <tr>
                    <th colspan="3">Система наценок, скидок</th>
                </tr>
                <tr>
                    <th>Наименование наценки, услуги</th>
                    <th>Номер коэф.</th>
                    <th>Значения коэф.</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usedFactor in usedFactorsService.factors">
                    <td style="text-align: left;">{{ usedFactor.description }}</td>
                    <td>K{{ usedFactor.name }}</td>
                    <td>{{ usedFactor.val }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p><br><br>C уважением, руководитель компании "КубаньДемонтаж"</p>
            <p ng-if="address === 1" ng-click="address = 0">______________________ /
                <small>Виктор Викторович Иванов</small>
                /
            </p>
            <p ng-if="address === 0" ng-click="address = 1">______________________ /
                <small>Марина Владимировна Иванова</small>
                /
            </p>
            <p>М.П.</p>
        </div>
    </div>
</div>
