<input ng-change="choose()"
       ng-class="inputClass"
       type="text"
       ng-model="search"
       placeholder="{{placeholder}}"
       title="{{title}}"/>
<div class="search-item-list">
    <ul class="list">
        <li class="search-item-list-item"
            ng-class="{'search-item-list-item_with-button': withButton}"
            ng-repeat="item in itemsList | filter:search track by item.name + $index"
            ng-init="itemIndex = $index"
            ng-click="chooseItem(item)">
            {{item.name}}
            <div class="search-item-list-btn noselect"
                 ng-if="withButtons && buttons && buttons.length">
                <span ng-repeat="button in buttons"
                      ng-class="button.class"
                      ng-if="button.isVisible(item, itemIndex)"
                      ng-click="buttonClick($event, item, button, itemIndex)"></span>
            </div>
        </li>
    </ul>
</div>