<div class="col-xs-10" ng-if="$ctrl.commonMaterialInfo">
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-12">
                    <span class="glyphicon" ng-if="$ctrl.isUserCanEdit"></span>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Рассчет итоговой глубины</strong>
                        </div>
                        <div class="panel-body"
                             ng-if="!isStepFulfilled">
                            Для рассчета глубины необходимо выбрать размеры и тип кладки!
                        </div>
                        <div class="panel-body"
                             ng-if="isStepFulfilled && !$ctrl.resultMaterial.resultDepth">
                            Возникли проблемы с расчетами!
                        </div>
                        <table class="table text-center"
                               ng-if="isStepFulfilled && $ctrl.resultMaterial.resultDepth">
                            <thead>
                            <tr>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.length"><strong>В длину</strong></td>
                                <td ng-if="$ctrl.isFirstPlusSignVisible()"></td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.width"><strong>В ширину</strong></td>
                                <td ng-if="$ctrl.isSecondPlusSignVisible()"></td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.height"><strong>В высоту</strong></td>
                                <td ng-if="$ctrl.isThirdPlusSignVisible()"></td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.plaster"><strong>Раствор</strong>
                                </td>
                                <td></td>
                                <td><strong>Глубина</strong></td>
                            </tr>
                            </thead>
                            <tr>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.length">
                                    {{$ctrl.resultMaterial.proportions.length}}&nbsp;мм.&nbsp;*&nbsp;{{$ctrl.resultMaterial.masonryType.data.length}}&nbsp;шт.
                                </td>
                                <td ng-if="$ctrl.isFirstPlusSignVisible()">+</td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.width">
                                    {{$ctrl.resultMaterial.proportions.width}}&nbsp;мм.&nbsp;*&nbsp;{{$ctrl.resultMaterial.masonryType.data.width}}&nbsp;шт.
                                </td>
                                <td ng-if="$ctrl.isSecondPlusSignVisible()">+</td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.height">
                                    {{$ctrl.resultMaterial.proportions.height}}&nbsp;мм.&nbsp;*&nbsp;{{$ctrl.resultMaterial.masonryType.data.height}}&nbsp;шт.
                                </td>
                                <td ng-if="$ctrl.isThirdPlusSignVisible()">+</td>
                                <td ng-if="$ctrl.resultMaterial.masonryType.data.plaster">
                                    10&nbsp;мм.&nbsp;*&nbsp;{{$ctrl.resultMaterial.masonryType.data.plaster}}&nbsp;шт.
                                </td>
                                <td>=</td>
                                <td>{{$ctrl.resultMaterial.resultDepthFormatted}}&nbsp;cм.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="glyphicon" ng-if="$ctrl.isUserCanEdit && !isEditMode"></span>
                    <div class="aligned-group-controls" ng-if="isEditMode">
                        <span class="aligned-group-control glyphicon glyphicon-plus text-success"
                              ng-click="$ctrl.addMasonryType()"></span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="justify-container-between">
                                <strong>Исполнение кладки</strong>
                                <div class="float-right field-header-icon">
                            <span class="glyphicon glyphicon-exclamation-sign text-danger"
                                  title="Необходимо выбрать один из вариантов"
                                  ng-if="!$ctrl.resultMaterial.masonryType"></span>
                                    <span class="glyphicon glyphicon-ok-sign text-success"
                                          title="Выбор сделан успешно"
                                          ng-if="$ctrl.resultMaterial.masonryType"></span>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-padded">
                            <li class="list-group-item">
                                <div class="btn-group masonry-type"
                                     ng-repeat="masonryType in $ctrl.masonryTypes"
                                     ng-if="isEditMode || $ctrl.isVisibleMasonryType(masonryType)">
                                    <a class="btn btn-default"
                                       ng-class="{'btn-success': $ctrl.isMasonryTypeSelected(masonryType)}"
                                       ng-click="$ctrl.selectMasonryType(masonryType)">
                                        <span ng-if="isEditMode"
                                              class="glyphicon glyphicon-eye-open"
                                              title="Показать\скрыть для выбраннного производителя"
                                              ng-class="{'glyphicon-eye-close': !$ctrl.isVisibleMasonryType(masonryType)}"
                                              ng-click="$ctrl.toggleVisibleMasonryType(masonryType)"></span>
                                        <span ng-if="!isEditMode"
                                              ng-bind="masonryType.label"></span>
                                        <div class="inline-editable"
                                             contenteditable
                                             ng-if="isEditMode"
                                             ng-blur="$ctrl.onMasonryTypesChanged()"
                                             ng-model="masonryType.label"></div>
                                        <span ng-if="masonryType.variations.length">
                                            &nbsp;({{masonryType.variations[masonryType.selectedVariationIndex].label}})</span>
                                    </a>
                                    <a class="btn btn-default dropdown-toggle"
                                       ng-if="masonryType.variations.length"
                                       ng-class="{'btn-success': $ctrl.isMasonryTypeSelected(masonryType)}"
                                       data-toggle="dropdown"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu variations-list"
                                        ng-if="masonryType.variations.length">
                                        <li ng-repeat="variation in masonryType.variations"
                                            ng-class="{'bg-info': masonryType.selectedVariationIndex === $index}"
                                            ng-click="$ctrl.selectMasonryTypeVariation(masonryType, $index)">
                                            <a>{{variation.label}}</a>
                                        </li>
                                    </ul>
                                    <div class="masonry-type-controls
                                                aligned-group-controls aligned-group-controls-sm
                                                justify-container-around"
                                         ng-class="{'masonry-type-controls-show': $ctrl.editedMasonryTypeIndex === $index}"
                                         ng-if="isEditMode">
                                        <span class="aligned-group-control-left
                                         glyphicon glyphicon-menu-left text-success"
                                              ng-class="{'just-hide': $index === 0}"
                                              ng-click="$ctrl.moveLeftMasonryType($index)"></span>
                                        <span class="aligned-group-control-left glyphicon glyphicon-pencil"
                                              ng-class="{'glyphicon-ok text-success': $ctrl.editedMasonryTypeIndex === $index}"
                                              ng-click="$ctrl.toggleMasonryTypeEditMode($index)"></span>
                                        <span class="aligned-group-control glyphicon glyphicon-trash text-danger"
                                              ng-click="$ctrl.removeMasonryType($index)"></span>
                                        <span class="aligned-group-control glyphicon glyphicon-menu-right text-success"
                                              ng-class="{'just-hide': $index === $ctrl.masonryTypes.length - 1}"
                                              ng-click="$ctrl.moveRightMasonryType($index)"></span>

                                        <div class=" btn-group masonry-type-edit-panel"
                                             ng-if="isEditMode && $ctrl.editedMasonryTypeIndex === $index">
                                            <table class="table table-bordered table-condensed">
                                                <thead>
                                                <tr>
                                                    <th ng-if="masonryType.variations.length"></th>
                                                    <th>В длину</th>
                                                    <th>В ширину</th>
                                                    <th>В высоту</th>
                                                    <th>Раствор</th>
                                                </tr>
                                                </thead>
                                                <tr ng-if="!masonryType.variations.length">
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в длину"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="masonryType.defaultData.length">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в ширину"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="masonryType.defaultData.width">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в высоту"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="masonryType.defaultData.height">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество слоев штукатурки"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="masonryType.defaultData.plaster">
                                                    </td>
                                                </tr>
                                                <tr ng-if="masonryType.variations.length"
                                                    ng-repeat="variation in masonryType.variations"
                                                    ng-class="{'bg-info': $index === masonryType.selectedVariationIndex}">
                                                    <td><strong>
                                                        <span ng-if="!isEditMode"
                                                              ng-bind="variation.label"></span>
                                                        <div contenteditable
                                                             ng-if="isEditMode"
                                                             ng-model="variation.label"></div>
                                                    </strong></td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в длину"
                                                               ng-class="{'bg-info': $index === masonryType.selectedVariationIndex}"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="variation.data.length">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в ширину"
                                                               ng-class="{'bg-info': $index === masonryType.selectedVariationIndex}"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="variation.data.width">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество в высоту"
                                                               ng-class="{'bg-info': $index === masonryType.selectedVariationIndex}"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="variation.data.height">
                                                    </td>
                                                    <td class="table-cell-with-input table-cell-with-input-sm">
                                                        <input type="number"
                                                               min="0"
                                                               title="Количество слоев штукатурки"
                                                               ng-class="{'bg-info': $index === masonryType.selectedVariationIndex}"
                                                               ng-blur="$ctrl.onMasonryTypesChanged()"
                                                               ng-change="$ctrl.calcResultDepth()"
                                                               ng-model="variation.data.plaster">
                                                    </td>
                                                    <td class="selectable-td selectable-td-danger"
                                                        ng-click="$ctrl.removeVariation(masonryType, $index)">
                                                        <span class="glyphicon glyphicon-trash text-danger"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="{{masonryType.variations.length ? 6 : 4}}"
                                                        class="selectable-row selectable-row-success"
                                                        ng-click="$ctrl.addVariation(masonryType)">
                                                        <span class="glyphicon glyphicon-plus text-success"></span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="glyphicon" ng-if="$ctrl.isUserCanEdit && !isEditMode"></span>
                    <div class="aligned-group-controls" ng-if="isEditMode">
                        <span class="aligned-group-control glyphicon glyphicon-plus text-success"
                              ng-click="$ctrl.addProportions()"></span>
                    </div>
                    <div class="panel panel-default proportions-panel">
                        <div class="panel-heading proportions-panel-heading">
                            <div class="justify-container-between">
                                <strong>Выбор размеров</strong>


                                <div class="btn-group manufacturer-button-container" role="group" aria-label="...">
                                    <button type="button"
                                            class="btn btn-default manufacturer-button"
                                            ng-if="isEditMode"
                                            ng-click="$ctrl.toggleManufacturerEditMode()">
                                        <span class="glyphicon glyphicon-pencil selectable-row"
                                              ng-class="{'glyphicon-ok text-success': $ctrl.isManufacturerEditing}"></span>
                                    </button>
                                    <button type="button"
                                            class="btn btn-default manufacturer-button"
                                            ng-if="isEditMode && $ctrl.isManufacturerEditing"
                                            ng-click="$ctrl.toggleManufacturerEditMode(true)">
                                        <span class="glyphicon glyphicon-remove selectable-row text-danger"></span>
                                    </button>

                                    <div class="btn-group manufacturer-main-button-container" role="group">
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle manufacturer-button manufacturer-button-main"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                                            <div class="label-text">{{$ctrl.selectedManufacturer.label}}</div>
                                            <span class="caret absolute-caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="manufacturer in $ctrl.commonMaterialInfo.purpose.data.manufacturers">
                                                <a ng-click="$ctrl.selectManufacturer(manufacturer, $index)">
                                                    {{manufacturer.label}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <button type="button"
                                            class="btn btn-default manufacturer-button"
                                            ng-class="{'btn-success': $ctrl.isCustomProportionsMode}"
                                            ng-click="$ctrl.onCustomProportionsModeChange()">
                                        <span class="glyphicon glyphicon-wrench selectable-row"></span>
                                    </button>
                                </div>
                                <div class="manufacturers-edit-panel" ng-if="isEditMode && $ctrl.isManufacturerEditing">
                                    <table class="table table-bordered table-condensed">
                                        <tr ng-repeat="manufacturer in $ctrl.commonMaterialInfo.purpose.data.manufacturers">
                                            <td class="word-break-all default-manufacturer-button-td">
                                                <div class="default-manufacturer-button-container">
                                                    <span
                                                        class="glyphicon default-manufacturer-button glyphicon-star text-info"
                                                        ng-class="{'glyphicon-star-empty': !$ctrl.isDefaultManufacturer($index)}"
                                                        ng-click="$ctrl.setDefaultManufacturer($index)"></span>
                                                </div>
                                                <div contenteditable ng-model="manufacturer.label"></div>
                                            </td>
                                            <td class="selectable-row selectable-row-danger"
                                                ng-if="$ctrl.commonMaterialInfo.purpose.data.manufacturers.length > 1"
                                                ng-click="$ctrl.removeManufacturer($index)">
                                                <span class="glyphicon glyphicon-trash text-danger"></span>
                                            </td>
                                            <td class="relative-table-cell iconsize-table-cell"
                                                ng-if="$ctrl.commonMaterialInfo.purpose.data.manufacturers.length > 1">
                                                <div class="top-cell-button"
                                                     ng-if="$index">
                                                    <span class="glyphicon glyphicon-menu-up selectable-td text-success"
                                                          ng-click="$ctrl.moveManufacturerUp($index)"></span>
                                                </div>
                                                <div class="bottom-cell-button"
                                                     ng-if="$index !== ($ctrl.commonMaterialInfo.purpose.data.manufacturers.length - 1)">
                                                    <span class="glyphicon glyphicon-menu-down selectable-td text-success"
                                                          ng-click="$ctrl.moveManufacturerDown($index)"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"
                                                class="selectable-row selectable-row-success text-center"
                                                ng-click="$ctrl.addManufacturer()">
                                                <span class="glyphicon glyphicon-plus text-success"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="float-right field-header-icon">
                                    <span class="glyphicon glyphicon-exclamation-sign text-danger"
                                          title="Необходимо выбрать один из вариантов"
                                          ng-if="!$ctrl.resultMaterial.proportions"></span>
                                    <span class="glyphicon glyphicon-ok-sign text-success"
                                          title="Выбор сделан успешно"
                                          ng-if="$ctrl.resultMaterial.proportions"></span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-hover proportions-table">
                            <thead>
                            <tr ng-if="isEditMode">
                                <th class="proportions-eyes-cell"
                                    ng-repeat="key in ['length', 'width', 'height', 'label', 'nf']">
                                    <span class="glyphicon noselect"
                                          ng-class="{'glyphicon-eye-close': $ctrl.selectedManufacturer.hiddenColumns[key],
                                                     'glyphicon-eye-open': !$ctrl.selectedManufacturer.hiddenColumns[key]}"
                                          ng-click="$ctrl.toggleVisibleColumn(key)"
                                          title="скрыть/показать столбец"></span>
                                </th>
                            </tr>
                            <tr>
                                <th class="relative-table-cell" ng-if="$ctrl.isVisibleColumn('length')">Длина (мм.)
                                    <span class="glyphicon selectable-td proportions-order-icons"
                                          ng-class="$ctrl.getClassForProportionsOrderCheckbox('length')"
                                          ng-click="$ctrl.setProportionsOrder('length')"></span>
                                    <span ng-if="isEditMode"
                                          class="glyphicon glyphicon-remove selectable-td text-danger proportions-filter-clear"
                                          ng-click="$ctrl.clearProportionsOrderForKey('length')"></span>
                                </th>
                                <th class="relative-table-cell" ng-if="$ctrl.isVisibleColumn('width')">Ширина (мм.)
                                    <span class="glyphicon selectable-td proportions-order-icons"
                                          ng-class="$ctrl.getClassForProportionsOrderCheckbox('width')"
                                          ng-click="$ctrl.setProportionsOrder('width')"></span>
                                    <span ng-if="isEditMode"
                                          class="glyphicon glyphicon-remove selectable-td text-danger proportions-filter-clear"
                                          ng-click="$ctrl.clearProportionsOrderForKey('width')"></span>
                                </th>
                                <th class="relative-table-cell" ng-if="$ctrl.isVisibleColumn('height')">Высота (мм.)
                                    <span class="glyphicon selectable-td proportions-order-icons"
                                          ng-class="$ctrl.getClassForProportionsOrderCheckbox('height')"
                                          ng-click="$ctrl.setProportionsOrder('height')"></span>
                                    <span ng-if="isEditMode"
                                          class="glyphicon glyphicon-remove selectable-td text-danger proportions-filter-clear"
                                          ng-click="$ctrl.clearProportionsOrderForKey('height')"></span>
                                </th>
                                <th class="relative-table-cell unset-min-width" ng-if="$ctrl.isVisibleColumn('label')">Название
                                    <span ng-if="isEditMode"
                                          class="glyphicon selectable-td proportions-labels-button"
                                          ng-class="{'glyphicon-pencil': !$ctrl.isProportionsLabelsEditing,
                                                     'glyphicon-ok': $ctrl.isProportionsLabelsEditing}"
                                          ng-click="$ctrl.isProportionsLabelsEditing = !$ctrl.isProportionsLabelsEditing"></span>

                                    <div class="proportions-labels-edit-panel"
                                         ng-if="isEditMode && $ctrl.isProportionsLabelsEditing">
                                        <table class="table table-bordered table-condensed">
                                            <tr ng-repeat="label in proportionsLabels">
                                                <td class="word-break-all unset-min-width proportions-labels-edit">
                                                    <div contenteditable ng-model="label.name"></div>
                                                </td>
                                                <td class="selectable-row selectable-row-danger unset-min-width"
                                                    ng-if="proportionsLabels.length > 1"
                                                    ng-click="proportionsLabels.splice($index, 1)">
                                                    <span class="glyphicon glyphicon-trash text-danger"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"
                                                    class="selectable-row selectable-row-success text-center"
                                                    ng-click="proportionsLabels.push({name: ''})">
                                                    <span class="glyphicon glyphicon-plus text-success"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </th>
                                <th class="unset-min-width" ng-if="$ctrl.isVisibleColumn('nf')">НФ</th>
                            </tr>
                            </thead>
                            <tr ng-if="$ctrl.isCustomProportionsMode">
                                <td class="table-cell-with-input">
                                    <input type="number"
                                           min="1"
                                           title="Введите длину"
                                           ng-change="$ctrl.onProportionsChange($ctrl.resultMaterial.proportions)"
                                           ng-model="$ctrl.resultMaterial.proportions.length">
                                </td>
                                <td class="table-cell-with-input">
                                    <input type="number"
                                           min="1"
                                           title="Введите ширину"
                                           ng-change="$ctrl.onProportionsChange($ctrl.resultMaterial.proportions)"
                                           ng-model="$ctrl.resultMaterial.proportions.width">
                                </td>
                                <td class="table-cell-with-input">
                                    <input type="number"
                                           min="1"
                                           title="Введите высоту"
                                           ng-change="$ctrl.onProportionsChange($ctrl.resultMaterial.proportions)"
                                           ng-model="$ctrl.resultMaterial.proportions.height">
                                </td>
                                <td class="table-cell-with-input">
                                    <dropdown-list title="Введите или выберите значение"
                                                   placeholder=""
                                                   search-result="$ctrl.resultMaterial.proportions.label"
                                                   items-list="proportionsLabels">
                                    </dropdown-list>
                                </td>
                                <td>
                                    <span class="proportions-nf-value">
                                        {{$ctrl.getPrintedNf($ctrl.resultMaterial.proportions)}}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-repeat="proportions in $ctrl.selectedManufacturer.proportionsArray"
                                ng-if="!$ctrl.isCustomProportionsMode && (!proportions.hidden || isEditMode)"
                                ng-class="{'bg-success': $ctrl.isProportionsSelected(proportions) && !isEditMode}"
                                ng-click="$ctrl.selectProportions(proportions)">
                                <td ng-if="!isEditMode && $ctrl.isVisibleColumn('length')">{{proportions.length}}</td>
                                <td ng-if="!isEditMode && $ctrl.isVisibleColumn('width')">{{proportions.width}}</td>
                                <td ng-if="!isEditMode && $ctrl.isVisibleColumn('height')">{{proportions.height}}</td>
                                <td ng-if="!isEditMode && $ctrl.isVisibleColumn('label')">{{proportions.label}}</td>
                                <td class="table-cell-with-input"
                                    ng-if="isEditMode">
                                    <input model-change-blur
                                           type="number"
                                           min="1"
                                           title="Введите длину"
                                           ng-class="{'bg-info': $ctrl.isProportionsSelected(proportions) && isEditMode}"
                                           ng-blur="$ctrl.onPurposeChanged()"
                                           ng-change="$ctrl.onProportionsChange(proportions)"
                                           ng-model="proportions.length">
                                </td>
                                <td class="table-cell-with-input"
                                    ng-if="isEditMode">
                                    <input model-change-blur
                                           type="number"
                                           min="1"
                                           title="Введите ширину"
                                           ng-class="{'bg-info': $ctrl.isProportionsSelected(proportions) && isEditMode}"
                                           ng-blur="$ctrl.onPurposeChanged()"
                                           ng-change="$ctrl.onProportionsChange(proportions)"
                                           ng-model="proportions.width">
                                </td>
                                <td class="table-cell-with-input"
                                    ng-if="isEditMode">
                                    <input model-change-blur
                                           type="number"
                                           min="1"
                                           title="Введите высоту"
                                           ng-class="{'bg-info': $ctrl.isProportionsSelected(proportions) && isEditMode}"
                                           ng-blur="$ctrl.onPurposeChanged()"
                                           ng-change="$ctrl.onProportionsChange(proportions)"
                                           ng-model="proportions.height">
                                </td>
                                <td class="table-cell-with-input"
                                    ng-if="isEditMode">
                                    <dropdown-list title="Введите или выберите значение"
                                                   placeholder=""
                                                   ng-class="{'bg-info': $ctrl.isProportionsSelected(proportions) && isEditMode}"
                                                   input-class="{{($ctrl.isProportionsSelected(proportions) && isEditMode) ? 'bg-info' : ''}}"
                                                   search-result="proportions.label"
                                                   items-list="proportionsLabels"
                                                   on-blur="$ctrl.onPurposeChanged()"
                                                   on-change="$ctrl.onProportionsChange(proportions)">
                                    </dropdown-list>
                                </td>
                                <td class="unset-min-width minimize-td relative-table-cell noselect"
                                    ng-if="$ctrl.isVisibleColumn('nf')"
                                    ng-class="{'bg-info': $ctrl.isProportionsSelected(proportions) && isEditMode,
                                               'white-background': !$ctrl.isProportionsSelected(proportions) && isEditMode,
                                               'table-cell-with-control-after': isEditMode}">
                                    <div class="left-cell-button bg-danger"
                                         ng-if="isEditMode"
                                         ng-click="$ctrl.decrementNf(proportions)"><span class="nf-btn-text">-</span>
                                    </div>
                                    <div class="right-cell-button bg-success"
                                         ng-if="isEditMode"
                                         ng-click="$ctrl.incrementNf(proportions)"><span class="nf-btn-text">+</span>
                                    </div>
                                    <span class="proportions-nf-value">{{$ctrl.getPrintedNf(proportions)}}</span>
                                    <div class="control-after-td control-after-td-danger"
                                         ng-if="isEditMode"
                                         ng-click="$ctrl.removeProportions(proportions)">
                                        <span class="glyphicon glyphicon-trash text-danger "></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="row">
                <div class="col-xs-12">
                    <span class="glyphicon" ng-if="$ctrl.isUserCanEdit"></span>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Общая информация</strong>
                        </div>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <td><strong>Ценовая группа</strong></td>
                                <td>{{$ctrl.resultMaterial.priceMaterial.name}}</td>
                            </tr>
                            <tr ng-repeat="fieldKey in $ctrl.fieldsOrder"
                                ng-if="$ctrl.commonMaterialInfo[fieldKey]">
                                <td><strong>{{$ctrl.commonMaterialInfo[fieldKey].fieldLabel}}</strong></td>
                                <td>{{$ctrl.commonMaterialInfo[fieldKey].label}}</td>
                            </tr>
                            <tr ng-if="$ctrl.resultMaterial.masonryType">
                                <td><strong>Исполнение кладки</strong></td>
                                <td>{{$ctrl.resultMaterial.masonryType.label}}</td>
                            </tr>
                            <tr ng-if="$ctrl.resultMaterial.proportions">
                                <td><strong>Размеры</strong></td>
                                <td>{{$ctrl.resultMaterial.proportions.length}}&nbsp;/&nbsp;
                                    {{$ctrl.resultMaterial.proportions.width}}&nbsp;/&nbsp;
                                    {{$ctrl.resultMaterial.proportions.height}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>