<div class="row">

    <div class="col-md-12">

        <h3>Прайс-лист на транспортные услуги {{priceNomer}} {{brancheName}}</h3>

        <a class="btn btn-primary btn-top-menu" href="#/" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Вернуться назад
        </a>

    </div>

    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li ng-class="{active: !editBan}"><a href="#groups" data-toggle="tab" ng-if="!editBan">Формирование прайс-листа</a></li>
            <li ng-class="{active: editBan}"><a href="#view" data-toggle="tab" ng-click="view()">Просмотр прайс-листа</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: !editBan}" id="groups" ng-if="!editBan">
                <p></p>
                <table>
                    <tr>
                        <td>
                            <table class="price-groups">
                                <tbody ng-repeat="(key, value) in price.result">
                                    <tr>
                                        <td>{{key + 1}}</td>
                                        <td><input type="text" class="form-control" placeholder="Наименование района" ng-model="value['name']" maxlength="40"></td>
                                        <td>
                                            <span class="glyphicon glyphicon-remove clickable" aria-hidden="true" ng-click="delGroup(key)" title="Удалить район"></span>
                                            <a class="btn btn-primary btn-xs" style="margin-left: 30px;" ng-click="addItem(key)" role="button">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить населенный пункт
                                            </a>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="(ki, kv) in price.result[key].items">
                                        <td>{{key + 1}}.{{ki + 1}}</td>
                                        <td><input type="text" class="form-control" placeholder="Населенный пункт" ng-model="kv['name']" maxlength="50"></td>
                                        <td><input type="number" class="form-control" placeholder="Километраж" ng-model="kv['km']"></td>
                                        <td class="clickable" ng-click="delItem(key,ki)" title="Удалить населенный пункт">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="price-groups-menu">
                            <a class="btn btn-primary btn-top-menu" ng-click="addGroup()" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить район
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane"  ng-class="{active: editBan}" id="view">
                <div class="row">
                    <div class="col-md-2" style="padding-top: 20px;" ng-if="!editBan">
                        <p style="float: left; font-weight: 700; padding-top: 6px;">Цена за 1 км:</p> 
                        <input type="number" class="form-control" placeholder="Цена за 1 км" ng-model="price.params.sum" style="width: 100px; float: right;">
                    </div>
                    <div class="col-md-2" style="padding-top: 20px;" ng-if="!editBan">
                        <select class="form-control col-md-2" ng-model="price.params.branche">
                            <option value="0">Выберите филиал</option>
                            <option ng-selected="price.params.branche === value.id" ng-repeat="(key, value) in branche" value="{{::value.id}}">{{::value.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-8" style="padding-top: 20px;">
                        <div ng-if="!editBan" ng-show="isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || price.params.branche < 1 || !access.create}" ng-click="savePrice()" role="button">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить
                            </a>
                        </div>
                        <div ng-if="!editBan && priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.delete}" ng-click="removePrice()" role="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
                            </a>
                        </div>
                        <div ng-if="!editBan && priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.signature}" ng-click="signaturePrice()" role="button">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Подписать
                            </a>
                        </div>
                        <div ng-if="priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.clone}" ng-click="clonePrice()" role="button">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Клонировать
                            </a>
                        </div>
                        <div ng-if="editBan && priceNomer !== '' && !beginning" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.beginning}" ng-click="beginningPrice()" role="button">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сделать актуальным
                            </a>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td class="price-table">
                            <h3>Прайс на транспортные услуги {{priceNomer}}</h3>
                            <table class="table table-bordered table-hover">
                                <tbody ng-repeat="(key, value) in price.result">
                                    <tr>
                                        <td>{{key + 1}}</td>
                                        <td colspan="3">{{value['name']}}</td>
                                    </tr>
                                    <tr ng-repeat="(ki, kv) in price.result[key].items">
                                        <td>{{key + 1}}.{{ki + 1}}</td>
                                        <td>{{kv['name']}}</td>
                                        <td>{{kv['km']}} км.</td>
                                        <td class="right">{{itog(kv['km'])}} руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
<div class="serverProcess" ng-show="isLoad || savePriceProcess || priceIsLoad">Подождите...</div>