<div class="row">

    <div class="col-md-12">

        <h3>Прайс-лист на алмазное бурение {{priceNomer}} {{brancheName}}</h3>

        <a class="btn btn-primary btn-top-menu" href="#/" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Вернуться назад
        </a>

    </div>

    <div class="col-md-12">

        <ul class="nav nav-tabs">
            <li ng-class="{active: !editBan}"><a href="#groups" data-toggle="tab" ng-if="!editBan">Ценовые группы</a></li>
            <li><a href="#items" data-toggle="tab" ng-if="!editBan">Прайсовые позиции</a></li>
            <li><a href="#factors" data-toggle="tab" ng-if="!editBan">Корректировочные коэффициенты</a></li>
            <li ng-class="{active: editBan}"><a href="#view" data-toggle="tab" ng-click="sumItems()">Просмотр прайс-листа</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: !editBan}" id="groups" ng-if="!editBan">
                <h1>Ценовые группы</h1>
                <p>Определите базовую стоимость алмазного бурения в рублях за м<sup>2</sup> сечения по каждой ценовой группе.</p>
                <p>При необходимости поменяйте количество ценовых групп или их наименование.</p>
                <table>
                    <tr>
                        <td>
                            <table class="price-groups">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Наименование группы</th>
                                        <th>Стоимость бурения, руб.</th>
                                        <th>Минимум за 1 см., руб.</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in price.groups">
                                        <td>{{key + 1}}</td>
                                        <td><input type="text" class="form-control" placeholder="Наименование группы" ng-model="value['name']" maxlength="20"></td>
                                        <td><input type="number" class="form-control" placeholder="Стоимость бурения" ng-model="value['sum']"></td>
                                        <td><input type="number" class="form-control" placeholder="Минимум за 1 см." ng-model="value['min']"></td>
                                        <td class="clickable" ng-click="delGroup(key)" title="Удалить группу">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="price-groups-menu">
                            <a class="btn btn-primary btn-xs btn-top-menu" ng-click="addGroup()" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить группу
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="items" ng-if="!editBan">
                <h1>Прайсовые позиции</h1>
                <p>Укажите параметры всех имеющихся в наличии труб для алмазного бурения.</p>
                <table>
                    <tr>
                        <td>
                            <table class="price-groups">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Диаметр трубы, мм</th>
                                        <th>Множитель</th>
                                        <th>Магнитный зазор</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in price.items">
                                        <td>{{key + 1}}</td>
                                        <td><input type="number" class="form-control" placeholder="Диаметр трубы" ng-model="value['diameter']"></td>
                                        <td><input type="number" class="form-control" placeholder="Множитель" ng-model="value['factor']" min="0"></td>
                                        <td>
                                            <select class="form-control" ng-model="value['zise']">
                                                <option value="0.5">0.5 мм</option>
                                                <option value="0.75">0.75 мм</option>
                                                <option value="1">1 мм</option>
                                                <option value="1.25">1.25 мм</option>
                                            </select>
                                        </td>
                                        <td class="clickable" ng-click="delItem(key)" title="Удалить позицию">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="price-groups-menu">
                            <a class="btn btn-primary btn-xs btn-top-menu" ng-click="addItem()" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить позицию
                            </a>
                            <p><b>Заметки для внутреннего пользования:</b></p>
                            <textarea class="form-control" rows="8" style="min-width: 400px;" ng-model="price.comment"></textarea>
                            <br>
                            <p><b>Cтоимость минимального выезда рабочей бригады<br>(в пределах г. Анапа):</b></p>
                            <input class="form-control"
                                   style="max-width: 150px"
                                   type="number"
                                   min="1"
                                   ng-model="price.params.minPrice">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="factors" ng-if="!editBan">
                <h1>Корректировочные коэффициенты</h1>
                <p>Перечислите все использующиеся в работе уточняющие коэффициенты.</p>
                <table>
                    <tr>
                        <td>
                            <table class="price-groups">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>Код</th>
                                        <th>Значение</th>
                                        <th>Наименование</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in price.factors">
                                        <td>{{key + 1}}</td>
                                        <td class="col-sm-2"><input type="number" class="form-control" placeholder="Код" ng-model="value['code']"></td>
                                        <td class="col-sm-2"><input type="number" class="form-control" placeholder="Значение" ng-model="value['param']"></td>
                                        <td class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Наименование" ng-model="value['name']"></td>
                                        <td class="clickable" ng-click="delFactor(key)" title="Удалить коэффициент">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="price-groups-menu">
                            <a class="btn btn-primary btn-xs btn-top-menu" ng-click="addFactor()" role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить коэффициент
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane"  ng-class="{active: editBan}" id="view">
                <div class="row">
                    <div class="col-md-2" style="padding-top: 20px;" ng-if="!editBan">
                        <select class="form-control col-md-2" ng-model="price.params.round" ng-click="sumItems()">
                            <option value="2">Округлять до копейки</option>
                            <option value="1">Округлять до 10 копеек</option>
                            <option value="0">Округлять до рубля</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-top: 20px;" ng-if="!editBan">
                        <select class="form-control col-md-2" ng-model="price.params.branche">
                            <option value="0">Выберите филиал</option>
                            <option ng-selected="price.params.branche === value.id" ng-repeat="(key, value) in branche" value="{{::value.id}}">{{::value.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-8" style="padding-top: 20px;">
                        <div ng-if="!editBan" ng-show="isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || price.params.branche < 1 || !access.create}" ng-click="savePrice()" role="button">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Сохранить
                            </a>
                        </div>
                        <div ng-if="!editBan && priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.delete}" ng-click="removePrice()" role="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Удалить
                            </a>
                        </div>
                        <div ng-if="!editBan && priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.signature}" ng-click="signaturePrice()" role="button">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Подписать
                            </a>
                        </div>
                        <div ng-if="priceNomer !== ''" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.clone}" ng-click="clonePrice()" role="button">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Клонировать
                            </a>
                        </div>
                        <div ng-if="editBan && priceNomer !== '' && !beginning" ng-show="!isEdit()" style="float: left; margin-right: 10px;">
                            <a class="btn btn-primary" ng-class="{disabled: savePriceProcess || !access.beginning}" ng-click="beginningPrice()" role="button">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Сделать актуальным
                            </a>
                        </div>
                    </div>
                </div>
                <table>
                    <tr>
                        <td class="price-table">
                            <h3>Прайс на алмазное бурение {{priceNomer}}</h3>
                            <table class="table table-bordered table-hover table-center">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle;">Диаметр воронки, мм</th>
                                        <th colspan="{{price.groups.length}}">Стоимость за 1 см. глубины обрабатываемого материала, руб.</th>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 0.7em;" ng-repeat="(key, value) in price.groups">
                                            {{price.groups[key].name}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in price.result | orderBy:'k'"
                                        ng-class="{'info': value['const']}">
                                        <td>Ø{{value['k']}}</td>
                                        <td ng-repeat="(k, v) in price.groups" style="text-align: center; width: 135px;"
                                            ng-if="!value['const']">
                                            {{value['v'][k]}}
                                        </td>
                                        <td ng-repeat="(k, v) in price.groups"
                                            ng-if="value['const']"
                                            style="width: 135px;"
                                            class="table-cell-with-input">
                                            <input type="number"
                                                   class="bg-info"
                                                   min="0"
                                                   title="Введите значение цены"
                                                   ng-keyup="constValuesChanges(value['constValues'], k)"
                                                   ng-model="value['constValues'][k]">
                                        </td>
                                        <td class="show-on-hover-row" style="padding: 0; vertical-align: middle; width: 35px;">
                                            <button type="button"
                                                    class="btn btn-sm"
                                                    title="{{ value['const'] ? 'Считать автоматически' : 'Указать значения вручную'}}"
                                                    ng-class="{'btn-primary': value['const'], 'btn-default': !value['const']}"
                                                    ng-click="toggleConstCosts(value)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="factors-table">
                            <h3>Уточняющие коэффициенты к прайс-листу</h3>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Код</th>
                                        <th>Значение</th>
                                        <th>Наименование</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in price.factors | orderBy:'code'">
                                        <td>{{value['code']}}</td>
                                        <td ng-if="value['param'] !== 0">{{value['param'] | number:2}}</td>
                                        <td ng-if="value['param'] === 0">договорная</td>
                                        <td>{{value['name']}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>
<div class="serverProcess" ng-show="isLoad || savePriceProcess || priceIsLoad">Подождите...</div>