<div class="row">

    <div class="col-md-12">

        <h3>Прайс-листы</h3>

        <div class="btn-group btn-top-menu btn-right" ng-if="access.create">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Добавить новый прайс-лист <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#/item1">Прайс на алмазное бурение</a></li>
                <li><a href="#/item4">Прайс на алмазную резку</a></li>
                <li><a href="#/item2">Прайс на транспортные расходы</a></li>
                <li><a href="#/item3">Универсальный прайс</a></li>
            </ul>
        </div>
        
        <div class="col-md-2 btn-right">
            <input type="text" class="form-control" placeholder="Поиск..." ng-model="$query">
        </div>

    </div>

    <div class="col-md-12">

        <div class="table-responsive">

            <table class="table table-bordered table-hover table_tr_clickable" ng-if="!isLoad">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Текущий статус</th>
                        <th>Город (филиал)</th>
                        <th>Пользователь</th>
                        <th>Дата изменения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in prices | filter:$query" ng-click="viewPrice(value)">
                        <td>{{value['price_name']}}</td>
                        <td>{{value['status']}}</td>
                        <td>{{value['city_name']}} ({{value['branche_name']}})</td>
                        <td>{{value['user_name']}}</td>
                        <td>{{value['update_at']}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>
<div class="serverProcess" ng-show="isLoad">Подождите...</div>