.btn-top-menu {
    margin-bottom: 20px;
}

.btn-right {
    float: right;
}

.right {
    text-align: right;
}

.table_tr_clickable>tbody>tr:hover, .clickable {
    cursor: pointer;
}

.price-groups th, .table-center td, .table-center th {
    text-align: center;
}

.price-groups td {
    padding: 5px 10px;
}

.price-groups-menu {
    vertical-align: top; 
    padding-top: 5px;
    padding-left: 30px;
}

.factors-table {
    padding-left: 20px;
    vertical-align: top;
}

.price-table {
    vertical-align: top;
}

.serverProcess {
    position: fixed;
    background-color: gray;
    top: 40%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

tr:not(:hover) .show-on-hover-row {
    visibility: hidden;
}

.table-cell-with-input {
    margin: 0 !important;
    padding: 0 !important;
}

.table-cell-with-input input{
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 35px;
    text-align: center;
}

